if messages.errors
    for error in messages.errors
      .alert.alert_error
        a.fa.fa-times.btnclose(onclick="this.parentNode.style.display = 'none'")
        span.msg #{error.msg}
if messages.info
  for info in messages.info
      .alert.alert_info
        a.fa.fa-times.btnclose(onclick="this.parentNode.style.display = 'none'")
        span.msg #{info.msg}
if messages.success
  for success in messages.success
      .alert.alert_success
        a.fa.fa-times.btnclose(onclick="this.parentNode.style.display = 'none'")
        span.msg #{success.msg}
