doctype html
html
  head
    meta(charset='UTF-8')
    title Reset password
    link(rel='stylesheet', href='css/loginstyle.css')
  body
    body.align
      .overlay
      .site__container
        .grid__container
          h1 Reset password
          form.form.form--login(method='post')
            input(type='hidden', name='_csrf', value = _csrf)
            include flash
            .form__field
              label.fa.fa-envelope(for='login__username')
                span.hidden email
              |  
              input#login__username.form__input(type='text', name='email', placeholder='Email', required='')
            .form__field
              input(type='submit', value='Send password')
          p.text--center
            a(href='/login') Log in &nbsp;
            span.fontawesome-arrow-right(style='color: #eee;')
