doctype html
html
  head
    meta(charset='UTF-8')
    title Refund
    link(rel='stylesheet', href='../css/loginstyle.css')
  body
    body.align
      .overlay
      .site__container
        .grid__container
          h1 Refund
          span.text-center(style="color: #fff; text-align: center;") Enter the 8 character ID found under your wristband.
          form.form.form--login(method='post')
            input(type='hidden', name='_csrf', value=_csrf)
            include flash
            .form__field  
              input#wristbandID.form__input(type='text', name='wristbandID', placeholder='xxxxxxxx', required='')
            .form__field
              input(type='submit', value='Request refund')
