@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.offcanvas #page {
  overflow: hidden;
  position: absolute;
  &:after {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: rgba(0, 0, 0, 0.7);
    content: "";
  }
}

a {
  color: #17B794;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  &:hover, &:active, &:focus {
    color: #17B794;
    outline: none;
    text-decoration: none;
  }
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection, ::-moz-selection, ::selection {
  color: #fff;
  background: #17B794;
}

.gtco-container {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.gtco-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1001;
  #gtco-logo {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    em {
      color: #17B794;
    }
  }
  a {
    padding: 5px 10px;
    color: #fff;
  }
  ul {
    padding: 0;
    margin: 2px 0 0 0;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline;
      a {
        font-size: 16px;
        padding: 30px 10px;
        color: rgba(255, 255, 255, 0.5);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        &:hover, &:focus, &:active {
          color: white;
        }
      }
      &.has-dropdown {
        position: relative;
        .dropdown {
          width: 130px;
          -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
          -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
          z-index: 1002;
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 40px;
          left: 0;
          text-align: left;
          background: #fff;
          padding: 20px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          border-radius: 4px;
          -webkit-transition: 0s;
          -o-transition: 0s;
          transition: 0s;
          &:before {
            bottom: 100%;
            left: 40px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #fff;
            border-width: 8px;
            margin-left: -8px;
          }
          li {
            display: block;
            margin-bottom: 7px;
            &:last-child {
              margin-bottom: 0;
            }
            a {
              padding: 2px 0;
              display: block;
              color: #999999;
              line-height: 1.2;
              text-transform: none;
              font-size: 15px;
              &:hover {
                color: #000;
              }
            }
            &.active > a {
              color: #000 !important;
            }
          }
        }
        &:hover a, &:focus a {
          color: #fff;
        }
      }
      &.btn-cta a {
        color: #17B794;
        span {
          background: #fff;
          padding: 4px 20px;
          display: -moz-inline-stack;
          display: inline-block;
          zoom: 1;
          *display: inline;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          border-radius: 100px;
        }
        &:hover span {
          -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
        }
      }
      &.active > a {
        color: #fff !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .gtco-nav {
    padding: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  .gtco-nav {
    .menu-1, .menu-2 {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  #gtco-header .text-left {
    text-align: center !important;
  }
}

@media screen and (max-width: 480px) {
  #gtco-header .btn {
    display: block;
    width: 100%;
  }
}

#gtco-header, #gtco-counter {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.gtco-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}

.gtco-video {
  height: 450px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  &.gtco-video-sm {
    height: 250px;
  }
  a {
    z-index: 1001;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -45px;
    width: 90px;
    height: 90px;
    display: table;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    i {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      font-size: 40px;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  &:hover {
    .overlay {
      background: rgba(0, 0, 0, 0.7);
    }
    a {
      position: relative;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}

.gtco-cover {
  height: 900px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
  a {
    background: #17B794;
    /*color: #17B794;*/
    &:hover, &:active, &:focus {
      color: white;
      outline: none;
      text-decoration: none;
      background: rgba(23, 183, 148, 0.8);
    }
  }
  .overlay {
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    /*background: rgba(29, 43, 83, 0.5);*/
    background: rgba(108, 111, 119, 0.5);
  }
  > .gtco-container {
    position: relative;
    z-index: 10;
  }
  .display-t, .display-tc {
    height: 900px;
    display: table;
    width: 100%;
  }
  &.gtco-cover-sm {
    height: 400px;
    .display-t, .display-tc {
      height: 600px;
      display: table;
      width: 100%;
    }
  }
  &.gtco-cover-xs {
    height: 400px;
    .display-t, .display-tc {
      height: 500px;
      display: table;
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .gtco-cover {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .gtco-cover {
    .display-t, .display-tc {
      height: 400px;
    }
  }
}

@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-sm {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-sm {
    .display-t, .display-tc {
      height: 400px;
    }
  }
}

@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-xs {
    height: inherit !important;
    padding: 3em 0;
  }
}

@media screen and (max-width: 768px) {
  .gtco-cover.gtco-cover-xs {
    .display-t, .display-tc {
      padding: 3em 0;
      height: inherit !important;
    }
  }
}

.gtco-staff {
  text-align: center;
  margin-bottom: 7em;
  float: left;
  width: 100%;
  img {
    width: 100px;
    margin-bottom: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 30px;
  }
  .role {
    color: #bfbfbf;
    margin-bottom: 30px;
    font-weight: normal;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .gtco-staff {
    margin-bottom: 3em;
  }
}

.gtco-social-icons {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    a {
      display: -moz-inline-stack;
      display: inline-block;
      zoom: 1;
      *display: inline;
      color: #17B794;
      padding-left: 10px;
      padding-right: 10px;
      i {
        font-size: 20px;
      }
    }
  }
}

.gtco-contact-info {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  position: relative;
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0 0 0 50px;
      margin: 0 0 30px 0;
      list-style: none;
      position: relative;
      &:before {
        color: #cccccc;
        position: absolute;
        left: 0;
        top: .05em;
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      &.address:before {
        font-size: 30px;
        content: "\e9d1";
      }
      &.phone:before {
        font-size: 23px;
        content: "\e9f4";
      }
      &.email:before {
        font-size: 23px;
        content: "\e9da";
      }
      &.url:before {
        font-size: 23px;
        content: "\e9af";
      }
    }
  }
}

form label {
  font-weight: normal !important;
}

#gtco-header .display-tc, #gtco-counter .display-tc, .gtco-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}

#gtco-header .display-tc {
  h1, h2 {
    margin: 0;
    padding: 0;
    color: white;
  }
}

#gtco-counter .display-tc {
  h1, h2 {
    margin: 0;
    padding: 0;
    color: white;
  }
}

.gtco-cover .display-tc {
  h1, h2 {
    margin: 0;
    padding: 0;
    color: white;
  }
}

#gtco-header .display-tc h1, #gtco-counter .display-tc h1, .gtco-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 45px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  #gtco-header .display-tc h1, #gtco-counter .display-tc h1, .gtco-cover .display-tc h1 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}

#gtco-header .display-tc h2, #gtco-counter .display-tc h2, .gtco-cover .display-tc h2 {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
}

#gtco-counter {
  text-align: center;
  .counter {
    font-size: 50px;
    margin-bottom: 10px;
    color: #17B794;
    font-weight: 100;
    display: block;
  }
  .counter-label {
    margin-bottom: 0;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: .1em;
  }
  .icon {
    width: 70px;
    height: 70px;
    text-align: center;
    margin-bottom: 20px;
    background: none !important;
    border: none !important;
    i {
      height: 70px;
      &:before {
        color: #cccccc;
        display: block;
        text-align: center;
        margin-left: 3px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #gtco-counter .feature-center {
    margin-bottom: 50px;
  }
}

#gtco-features, #gtco-features-2, #gtco-products, #gtco-services, #gtco-subscribe, #gtco-footer, .gtco-section {
  padding: 4em 0;
  clear: both;
  position: relative;
}

@media screen and (max-width: 768px) {
  #gtco-features, #gtco-features-2, #gtco-products, #gtco-services, #gtco-subscribe, #gtco-footer, .gtco-section {
    padding: 3em 0;
  }
}

#gtco-features.border-bottom, #gtco-features-2.border-bottom, #gtco-products.border-bottom, #gtco-services.border-bottom, #gtco-subscribe.border-bottom, #gtco-footer.border-bottom, .gtco-section.border-bottom {
  border-bottom: 1px solid #d9d9d9;
}

#gtco-features-2 {
  background: #efefef;
  position: relative;
  float: left;
  width: 100%;
}

.feature-center {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  width: 100%;
  margin-bottom: 40px;
  .icon {
    width: 90px;
    height: 90px;
    border: 1px solid #d6d6d6;
    display: table;
    text-align: center;
    margin: 0 auto 30px auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    i {
      display: table-cell;
      vertical-align: middle;
      height: 90px;
      font-size: 40px;
      line-height: 40px;
      color: #17B794;
    }
  }
  p {
    margin-bottom: 30px;
  }
  h3 {
    margin-bottom: 30px;
    font-size: 18px;
    color: #000;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .feature-center {
    margin-bottom: 50px;
  }
}

.feature-left {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  .icon {
    float: left;
    text-align: center;
    width: 15%;
    i {
      display: table-cell;
      vertical-align: middle;
      font-size: 40px;
      color: #17B794;
    }
  }
  .feature-copy {
    float: right;
    width: 80%;
    h3 {
      font-size: 18px;
      color: #1a1a1a;
      margin-bottom: 10px;
    }
  }
}

.gtco-heading {
  margin-bottom: 5em;
  &.gtco-heading-sm {
    margin-bottom: 2em;
  }
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    &:before {
      position: absolute;
      bottom: 0;
      content: "";
      width: 50px;
      margin-left: -25px;
      height: 2px;
      left: 50%;
      background: #17B794;
    }
  }
  h3 {
    font-size: 28px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    color: #1a1a1a;
  }
}

#gtco-products {
  background: #efefef;
  .testimony-slide {
    text-align: center;
    span {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700;
      display: block;
    }
    figure {
      margin-bottom: 10px;
      display: -moz-inline-stack;
      display: inline-block;
      zoom: 1;
      *display: inline;
      img {
        width: 90px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
      }
    }
    blockquote {
      border: none;
      margin: 30px auto;
      width: 50%;
      position: relative;
      padding: 0;
    }
  }
  .arrow-thumb {
    position: absolute;
    top: 40%;
    display: block;
    width: 100%;
    a {
      font-size: 32px;
      color: #dadada;
      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #gtco-products .testimony-slide blockquote {
    width: 100%;
  }
}

.gtco-tabs {
  .gtco-tab-nav {
    clear: both;
    margin: 0 0 3em 0;
    padding: 3px;
    float: left;
    width: 100%;
    background: #f2f2f2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    li {
      float: left;
      margin: 0;
      padding: 0;
      width: 25%;
      text-align: center;
      list-style: none;
      display: -moz-inline-stack;
      display: inline-block;
      zoom: 1;
      *display: inline;
      .icon {
        font-size: 30px;
      }
      a {
        padding: 20px;
        width: 100%;
        float: left;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        color: #b3b3b3;
        &:hover {
          color: #4d4d4d;
        }
      }
      &.active a {
        background: #fff;
        color: #17B794;
      }
    }
  }
  .gtco-tab-content-wrap {
    clear: both;
    position: relative;
    top: 70px;
    .tab-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .icon-xlg {
    font-size: 400px;
    margin-bottom: 30px;
    text-align: center;
    i {
      color: #17B794;
    }
  }
}

@media screen and (max-width: 768px) {
  .gtco-tabs .icon-xlg {
    font-size: 300px;
  }
}

@media screen and (max-width: 480px) {
  .gtco-tabs .icon-xlg {
    font-size: 200px;
  }
}

#gtco-subscribe {
  /*background: #303841;*/
  background: rgba(35, 35, 35, 1);
  .form-control {
    background: transparent;
    color: #fff;
    font-size: 16px !important;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2) !important;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    &:focus {
      background: transparent;
      border: 2px solid rgba(255, 255, 255, 0.8) !important;
    }
    &::-webkit-input-placeholder {
      color: #fff;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: #fff;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
    }
    &:-ms-input-placeholder {
      color: #fff;
    }
  }
  .btn {
    height: 54px;
    border: none !important;
    background: #17B794;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
  }
  .form-inline .form-group {
    width: 100% !important;
    margin-bottom: 10px;
    .form-control {
      width: 100%;
    }
  }
  .gtco-heading {
    margin-bottom: 0px;
    h2 {
      color: #fff;
    }
    p {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

#gtco-footer {
  .gtco-footer-links {
    padding: 0;
    margin: 0 0 20px 0;
    float: left;
    width: 100%;
    li {
      padding: 0;
      margin: 0 0 15px 0;
      list-style: none;
      line-height: 1;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .gtco-widget {
    margin-bottom: 30px;
    h3 {
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 15px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    .gtco-quick-contact {
      padding: 0;
      margin: 0;
      li {
        padding: 0;
        margin: 0 0 10px 0;
        list-style: none;
        i {
          width: 30px;
          float: left;
          font-size: 18px;
          position: relative;
          margin-top: 4px;
          display: -moz-inline-stack;
          display: inline-block;
          zoom: 1;
          *display: inline;
        }
      }
    }
  }
  .copyright .block {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  #gtco-footer .copyright {
    .pull-left, .pull-right {
      float: none !important;
      text-align: center;
    }
  }
}

#gtco-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  #gtco-offcanvas {
    display: block;
  }
}

.offcanvas #gtco-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

#gtco-offcanvas {
  a {
    color: rgba(255, 255, 255, 0.5);
    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      > ul {
        padding-left: 20px;
        display: none;
      }
      &.offcanvas-has-dropdown {
        > a {
          display: block;
          position: relative;
          &:after {
            position: absolute;
            right: 0px;
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\e921";
            font-size: 20px;
            color: rgba(255, 255, 255, 0.2);
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
          }
        }
        &.active a:after {
          -webkit-transform: rotate(-180deg);
          -moz-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
          -o-transform: rotate(-180deg);
          transform: rotate(-180deg);
        }
      }
    }
  }
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  a {
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    i {
      height: 50px;
      display: table-cell;
      vertical-align: middle;
    }
    &:hover, &:active, &:focus {
      text-decoration: none;
      outline: none;
    }
  }
}

.gtco-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
  &.active i {
    &::before, &::after {
      background: #444;
    }
  }
  &:hover, &:focus, &:active {
    outline: none;
    border-bottom: none !important;
  }
  i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #252525;
    transition: all .2s ease-out;
    &::before, &::after {
      content: '';
      width: 25px;
      height: 2px;
      background: #252525;
      position: absolute;
      left: 0;
      transition: all .2s ease-out;
    }
  }
  &.gtco-nav-white > i {
    color: #fff;
    background: #fff;
    &::before, &::after {
      background: #fff;
    }
  }
  i {
    &::before {
      top: -7px;
    }
    &::after {
      bottom: -7px;
    }
  }
  &:hover i {
    &::before {
      top: -10px;
    }
    &::after {
      bottom: -10px;
    }
  }
  &.active i {
    background: transparent;
    &::before {
      top: 0;
      -webkit-transform: rotateZ(45deg);
      -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
      -o-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
    }
    &::after {
      bottom: 0;
      -webkit-transform: rotateZ(-45deg);
      -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
      -o-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg);
    }
  }
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}

@media screen and (max-width: 768px) {
  .gtco-nav-toggle {
    display: block;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 30px;
  &.btn-md {
    padding: 8px 20px !important;
  }
  &.btn-lg {
    padding: 18px 36px !important;
  }
  &:hover, &:active, &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
}

.btn-primary {
  background: #17B794;
  color: #fff;
  border: 2px solid #17B794 !important;
  &:hover, &:focus, &:active {
    background: #1acea6 !important;
    border-color: #1acea6 !important;
  }
  &.btn-outline {
    background: transparent;
    color: #17B794;
    border: 2px solid #17B794;
    &:hover, &:focus, &:active {
      background: #17B794;
      color: #fff;
    }
  }
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
  &:hover, &:focus, &:active {
    background: #4cae4c !important;
    border-color: #4cae4c !important;
  }
  &.btn-outline {
    background: transparent;
    color: #5cb85c;
    border: 2px solid #5cb85c;
    &:hover, &:focus, &:active {
      background: #5cb85c;
      color: #fff;
    }
  }
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
  &:hover, &:focus, &:active {
    background: #46b8da !important;
    border-color: #46b8da !important;
  }
  &.btn-outline {
    background: transparent;
    color: #5bc0de;
    border: 2px solid #5bc0de;
    &:hover, &:focus, &:active {
      background: #5bc0de;
      color: #fff;
    }
  }
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
  &:hover, &:focus, &:active {
    background: #eea236 !important;
    border-color: #eea236 !important;
  }
  &.btn-outline {
    background: transparent;
    color: #f0ad4e;
    border: 2px solid #f0ad4e;
    &:hover, &:focus, &:active {
      background: #f0ad4e;
      color: #fff;
    }
  }
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
  &:hover, &:focus, &:active {
    background: #d43f3a !important;
    border-color: #d43f3a !important;
  }
  &.btn-outline {
    background: transparent;
    color: #d9534f;
    border: 2px solid #d9534f;
    &:hover, &:focus, &:active {
      background: #d9534f;
      color: #fff;
    }
  }
}

.btn-white {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
  &:hover, &:focus, &:active {
    color: #000;
    background: #f2f2f2 !important;
    border-color: #f2f2f2 !important;
  }
  &.btn-outline {
    color: #fff;
    border: 2px solid #fff;
    &:hover, &:focus, &:active {
      background: #fff;
      color: #000;
      border: 2px solid #fff;
    }
  }
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  &:hover, &:focus, &:active {
    box-shadow: none;
  }
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  i {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  &:hover {
    padding-right: 50px;
    i {
      color: #fff;
      right: 18px;
      visibility: visible;
      opacity: 1;
    }
  }
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
  &:active, &:focus {
    outline: none;
    box-shadow: none;
    border-color: #17B794;
  }
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.gtco-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .gtco-nav .gtco-contact {
    text-align: left !important;
  }
}

.gtco-nav .gtco-contact ul {
  padding: 0;
  margin: 0 0 20px 0;
  li {
    padding: 0;
    margin: 0;
    a {
      font-size: 14px;
      font-weight: bold !important;
      margin-left: 0px;
      i {
        color: #17B794;
      }
      &:hover i {
        color: #fff;
      }
    }
  }
}

#gtco-features-3 {
  /*position: relative;
  top: -7em;*/
  margin: 50px 0;
  .feature {
    width: 80%;
    height: 400px;
    float: left;
    padding: 30px;
    background: rgba(23, 183, 148, 1);
    position: relative;
    font-size: 12px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 768px) {
  #gtco-features-3 {
    top: -2em;
  }
}

.header-row {
  width: 100%;
  text-align: center;
}

#header-card {
  width: 40%;
  /*float: left;*/
  padding: 30px;
  background: rgba(23, 183, 148, 1);
  /*position: relative;*/
  font-size: 1em;
  /*margin-left: 100px;*/
  display: inline-block;
  .feature p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
  }
  .card-header {
    background: #303841;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
    color: #fff;
  }
}

.card-icon {
  text-align: center;
  font-size: 1.3em;
  color: #000;
}

.event-header h3:after {
  content: "";
  display: block;
  border-bottom: 2px solid rgba(23, 183, 148, 1);
  background: black;
  width: 100%;
  position: relative;
  margin: 0.5em auto;
}

.header-icon {
  text-align: center;
  font-size: 1.6em;
  color: #2D2D2D;
  margin-bottom: 10px;
}

.gtco-event-heading, .event-ticket-table {
  margin: 0;
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature {
    width: 100%;
    margin-bottom: 30px;
  }
}

#gtco-features-3 {
  .feature {
    h3 {
      color: #fff;
      font-size: 18px;
      margin-bottom: 15px;
      text-align: center;
      /*text-transform: uppercase;*/
    }
    p {
      color: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      line-height: 1.7;
      text-align: center;
    }
  }
  .card-header {
    background: #303841;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
    height: 50px;
  }
  .feature {
    .icon {
      display: block;
      width: 90px;
      height: 90px;
      margin: 0 auto 10px auto;
      position: relative;
      background: #15a989;
      top: -3em;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      i {
        line-height: 90px;
        height: 90px;
        font-size: 40px;
        color: #fff;
        &:before {
          display: block;
          text-align: center;
          margin-left: 3px;
        }
      }
    }
    &.feature-1 {
      z-index: 7;
    }
    &.feature-2 {
      bottom: 0px;
      z-index: 10;
      -webkit-box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
      background: #15a585;
      .icon {
        background: #13977a;
      }
      .feature-inner {
        top: -3em;
        position: relative;
      }
      &:before {
        position: absolute;
        top: -50px;
        content: "";
        background: #15a585;
        height: 50px;
        width: 100%;
        left: 0;
      }
      &:after {
        position: absolute;
        bottom: -30px;
        content: "";
        background: #15a585;
        height: 30px;
        width: 100%;
        left: 0;
      }
    }
    &.feature-3 {
      z-index: 7;
      background: #129377;
      .icon {
        background: #118a6f;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature.feature-2 {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature.feature-2 .feature-inner {
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature.feature-2:before {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #gtco-features-3 .feature.feature-2:after {
    display: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.gtco-flex {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
}

#gtco-history {
  padding: 3em 0;
}

#gtco-portfolio {
  padding: 7em 0;
  background: #303841;
  min-height: 500px;
  .gtco-heading {
    h2 {
      color: #fff;
    }
    p {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

@media screen and (max-width: 768px) {
  #gtco-portfolio {
    padding: 3em 0;
  }
}

#gtco-portfolio-list {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
  li {
    display: block;
    padding: 0;
    margin: 0 0 10px 1%;
    list-style: none;
    min-height: 400px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    clear: left;
    position: relative;
    a {
      min-height: 400px;
      padding: 2em;
      position: relative;
      width: 100%;
      display: block;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        z-index: 80;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }
      &.color-1 {
        &:before {
          background: rgba(55, 75, 84, 0.7);
        }
        &:hover:before {
          background: rgba(55, 75, 84, 0);
        }
      }
      &.color-2 {
        &:before {
          background: rgba(37, 190, 213, 0.7);
        }
        &:hover:before {
          background: rgba(37, 190, 213, 0);
        }
      }
      &.color-3 {
        &:before {
          background: rgba(239, 172, 147, 0.7);
        }
        &:hover:before {
          background: rgba(239, 172, 147, 0);
        }
      }
      &.color-4 {
        &:before {
          background: rgba(249, 17, 40, 0.7);
        }
        &:hover:before {
          background: rgba(249, 17, 40, 0);
        }
      }
      &.color-5 {
        &:before {
          background: rgba(252, 68, 40, 0.7);
        }
        &:hover:before {
          background: rgba(252, 68, 40, 0);
        }
      }
      &.color-6 {
        &:before {
          background: rgba(98, 177, 215, 0.7);
        }
        &:hover:before {
          background: rgba(98, 177, 215, 0);
        }
      }
      .case-studies-summary {
        width: auto;
        bottom: 2em;
        left: 2em;
        right: 2em;
        position: absolute;
        z-index: 100;
        span {
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 13px;
          color: rgba(255, 255, 255, 0.7);
        }
        h2 {
          color: #fff;
          margin-bottom: 0;
        }
      }
    }
    &.two-third {
      width: 65.6%;
    }
    &.one-third {
      width: 32.3%;
    }
    &.one-half {
      width: 49%;
    }
  }
}

@media screen and (max-width: 480px) {
  #gtco-portfolio-list li {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  #gtco-portfolio-list li a .case-studies-summary {
    bottom: 1em;
    left: 1em;
    right: 1em;
  }
}

@media screen and (max-width: 768px) {
  #gtco-portfolio-list li a .case-studies-summary h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  #gtco-portfolio-list li.two-third {
    width: 49%;
  }
}

@media screen and (max-width: 480px) {
  #gtco-portfolio-list li.two-third {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #gtco-portfolio-list li.one-third {
    width: 49%;
  }
}

@media screen and (max-width: 480px) {
  #gtco-portfolio-list li.one-third {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  #gtco-portfolio-list li.one-half {
    width: 100%;
  }
}

/* Owl Override Style */

.owl-carousel .owl-controls, .owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav {
  .owl-next, .owl-prev {
    top: 50%;
    margin-top: -39px;
    z-index: 9999;
    position: absolute;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
}

.owl-carousel-posts .owl-controls .owl-nav {
  .owl-next, .owl-prev {
    top: 50%;
    margin-top: -39px;
    z-index: 9999;
    position: absolute;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .owl-next, .owl-prev {
    top: 24%;
  }
}

.owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 20px;
}

.owl-carousel .owl-controls .owl-nav .owl-next:hover, .owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 20px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

.owl-carousel-posts .owl-controls .owl-nav {
  .owl-prev:hover {
    margin-left: -10px;
  }
  .owl-next i, .owl-prev i {
    color: #444;
  }
}

.owl-carousel-fullwidth .owl-controls .owl-nav {
  .owl-next i, .owl-prev i {
    color: #444;
  }
}

.owl-carousel-posts .owl-controls .owl-nav {
  .owl-next:hover i, .owl-prev:hover i {
    color: #000;
  }
}

.owl-carousel-fullwidth {
  .owl-controls .owl-nav {
    .owl-next:hover i, .owl-prev:hover i {
      color: #000;
    }
  }
  &.fh5co-light-arrow .owl-controls .owl-nav {
    .owl-next i, .owl-prev i, .owl-next:hover i, .owl-prev:hover i {
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme {
  .owl-controls .owl-nav [class*="owl-"] {
    background: none !important;
    i {
      font-size: 24px;
      background: rgba(255, 255, 255, 0.5) !important;
      padding: 12px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
    }
    &:hover i, &:focus i {
      background: rgba(255, 255, 255, 0.8) !important;
    }
  }
  .owl-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot {
  span {
    width: 10px;
    height: 10px;
    background: #17B794;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border: 2px solid transparent;
    &:hover {
      background: none;
      border: 2px solid #17B794;
    }
  }
  &.active span, &:hover span {
    background: none;
    border: 2px solid #17B794;
  }
}

.flat-table {
  margin-bottom: 20px;
  width: 100%;
  border-collapse: collapse;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-transform: uppercase;
  th, td {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(0, 0, 0, 0.25);
  }
  th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    padding: 1em;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    text-align: center;
    background: rgb(35, 35, 35);
  }
  td {
    color: #777;
    padding: 0.7em 1em 0.7em 1.15em;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    font-size: 1em;
  }
  tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
  }
}

.flat-table-1 {
  /*background: #336ca6;*/
  text-align: center;
  tr:hover {
    background: rgba(0, 0, 0, 0.19);
  }
}

@media (max-width: 800px) {
  .mid-right {
    width: 50%;
    margin: 0 auto;
    float: none;
    transform: translateY(0);
  }
  .vladimir-list ul li {
    margin: 12px 27px 0 0;
    font-size: 13px;
  }
  .cartoon ul li span {
    font-size: 13px;
  }
}

.mid-right {
  width: 50%;
  margin: 0 auto;
  float: none;
  transform: translateY(0%);
}

.cartoon ul {
  margin: 0;
  padding: 0;
  background: #fff;
}

.vladimir {
  position: relative;
  background: rgba(35, 35, 35, 1);
  padding: 25px 25px;
}

.vladimir-list ul {
  margin: 0;
  padding: 0;
  li {
    margin: 0 auto;
    color: #919191;
    list-style-type: none;
    display: inline-block;
    font-size: 0.9em;
    padding-bottom: 1em;
  }
}

.vladimir h3 {
  color: #fff;
  font-size: 20px;
  border-bottom: 1px solid #2e2e2e;
  padding: 0 0 17px 0;
}

.cartoon ul li {
  list-style-type: none;
  display: inline-block;
  border-left: 1px solid #e5e5e5;
  font-size: 30px;
  color: #232323;
  text-align: center;
  width: 50%;
  float: left;
  padding: 13px 0;
  span {
    display: block;
    margin-top: 5px;
    font-size: 15px;
    color: #656565;
  }
}

.mail-toolbar {
  background: #232323;
}

.float-left {
  width: 50%;
  float: left;
}

.tb-gd {
  position: relative;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

tr.read.checked {
  background: #232323;
}

td.cl-white {
  color: #fff !important;
}

.dropdown-tickets select {
  font-family: 'Montserrat', sans-serif !important;
  padding: 0.4em;
}

.pay-btn {
  padding: 18px 10px;
  display: block;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background: rgba(23, 183, 148, 1);
}

.poster-btn {
  padding: 0.2em;
  display: block;
  font-size: 0.7em;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background: rgba(23, 183, 148, 1);
  width: 30%;
  margin: 0 auto;
}

.event-ticket-table a {
  &:hover, &:active, &:focus {
    color: #fff;
    outline: none;
    text-decoration: none;
    background: rgba(23, 183, 148, 0.8);
  }
}

.modal-content, .form-control {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  border-collapse: collapse !important;
  background-image: none !important;
}

.btn-modal {
  border-radius: 0px;
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  font-size: 1em;
}

.event-details {
  font-size: 0.9em;
}

.help-footer em {
  color: rgba(23, 183, 148, 1);
  font-style: normal;
}

.vanish {
  display: none;
}

.show {
  display: inherit;
}

.expiry {
  padding: 0px;
  text-align: center;
}

.expiry-input {
  text-align: center;
}

.has-error input {
  border-width: 2px;
}

.spinner-center {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */