doctype html
html
  body
    .modal-header
      h4.modal-title Email title maybe?
    // /modal-header
    .modal-body
      p
        | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. 
      .row
        .col-xs-12.col-sm-12.col-md-12 
          ul.nav.nav-tabs
            li
              a(href='#open_tab', data-toggle='tab') Open Rate
            li
              a(href='#click_tab', data-toggle='tab') Click Rate
            li
              a(href='#conversion_tab', data-toggle='tab') Conversion Rate
          #tabs.tab-content
            #open_tab.tab-pane
              span &nbsp;
              #donut-chart-open.line-chart-pf
              script.
                var c3ChartDefaults = $().c3ChartDefaults();
                var fbColumn = [
                ['data1', 0, 50, 100, 150, 150, 100, 50, 100]
                ];
                var singleLineChartConfig = c3ChartDefaults.getDefaultSingleLineConfig();
                singleLineChartConfig.bindto = '#donut-chart-open';
                singleLineChartConfig.axis = {
                  y: {
                    max: 200,
                    min: 0,
                    padding: {top: 0, bottom: 0},
                    tick: {
                        count: 5
                    }
                  }
                }
                singleLineChartConfig.data = {
                columns: fbColumn,
                type: 'area'
                };
                singleLineChartConfig.size = {
                  width: 560
                };
                singleLineChartConfig.color = {
                  pattern: ["#582fc0"]
                };
                var singleLineChart = c3.generate(singleLineChartConfig);
            #click_tab.tab-pane 
              span &nbsp;
              #donut-chart-click.line-chart-pf
              script.
                var c3ChartDefaults = $().c3ChartDefaults();
                var igColumn = [
                ['data1', 0, 50, 150, 100, 150, 200, 50, 100]
                ];
                var singleLineChartConfig = c3ChartDefaults.getDefaultSingleLineConfig();
                singleLineChartConfig.bindto = '#donut-chart-click';
                singleLineChartConfig.axis = {
                  y: {
                    max: 300,
                    min: 0,
                    padding: {top: 0, bottom: 0},
                    tick: {
                        count: 5
                    }
                  }
                }
                singleLineChartConfig.data = {
                columns: igColumn,
                type: 'area'
                };
                singleLineChartConfig.size = {
                  width: 560
                };
                singleLineChartConfig.color = {
                  pattern: ["#b35c00"]
                };
                var singleLineChart = c3.generate(singleLineChartConfig);
            #conversion_tab.tab-pane
              span &nbsp; 
              #donut-chart-conversion.line-chart-pf
              script.
                var c3ChartDefaults = $().c3ChartDefaults();
                var emailColumn = [
                ['data1', 50, 150, 100, 150, 200, 0, 50, 100]
                ];
                var singleLineChartConfig = c3ChartDefaults.getDefaultSingleLineConfig();
                singleLineChartConfig.bindto = '#donut-chart-conversion';
                singleLineChartConfig.axis = {
                  y: {
                    max: 300,
                    min: 0,
                    padding: {top: 0, bottom: 0},
                    tick: {
                        count: 5
                    }
                  }
                }
                singleLineChartConfig.data = {  
                columns: emailColumn,
                type: 'area'
                };
                singleLineChartConfig.size = {
                  width: 560
                };
                singleLineChartConfig.color = {
                  pattern: ["#8b0000"]
                };
                var singleLineChart = c3.generate(singleLineChartConfig);

    // /modal-body
    .modal-footer
      button.btn.btn-default(type='button', data-dismiss='modal') Close

  script.
    $(document).ready(function(){
      activetab('open_tab');
    });

    function activetab(tab){
      $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };