extends ../../layout
block title
    title Email Metrics

block navbar
    include ../baseEvent

block content
    .row.row-cards-pf
        .col-xs-6.col-sm-4.col-md-3
            .card-pf.card-pf-accented.card-pf-aggregate-status(style="border-top-color: #cc0000;")
                h2.card-pf-title
                    span.fa.fa-share
                    |  Total Emails sent
                .card-pf-body
                    p.card-pf-aggregate-status-notifications
                        span.card-pf-aggregate-status-notification
                            | 20,570
        .col-xs-6.col-sm-4.col-md-3
            .card-pf.card-pf-accented.card-pf-aggregate-status(style="border-top-color: #40199a;")
                h2.card-pf-title
                    span.fa.fa-share
                    |  Open Rate
                .card-pf-body
                    p.card-pf-aggregate-status-notifications
                        span.card-pf-aggregate-status-notification
                            | 21.1%
        .col-xs-6.col-sm-4.col-md-3
            .card-pf.card-pf-accented.card-pf-aggregate-status
                h2.card-pf-title
                    span.fa.fa-mouse-pointer 
                    |  Click Rate
                .card-pf-body
                    p.card-pf-aggregate-status-notifications
                        span.card-pf-aggregate-status-notification
                            | 1.9%
        .col-xs-6.col-sm-4.col-md-3
            .card-pf.card-pf-accented.card-pf-aggregate-status(style="border-top-color: #92d400;")
                h2.card-pf-title
                    span.fa.fa-repeat 
                    |  Conversion Rate
                .card-pf-body
                    p.card-pf-aggregate-status-notifications
                        span.card-pf-aggregate-status-notification
                            | 3%

    .row
        .col-xs-12.col-sm-6.col-md-12
            // List/Panels
            .list-group.list-view-pf
                .list-group-item.list-view-pf-stacked
                    .list-view-pf-actions
                        //Open a modal that displays the email and more details
                        - var modUrl = "email/modal/65675767";
                        button.btn.btn-default(type='button',id="btn-emailModal",data-toggle='modal', data-target='#emailModal', data-load-url=modUrl, data-backdrop='static') View stats
                    .list-view-pf-main-info
                        .list-view-pf-left
                            span.fa.fa-envelope.list-view-pf-icon-lg
                        .list-view-pf-body
                            .list-view-pf-description
                                .list-group-item-heading
                                    | Email subject which will be long
                                    small 29th February, 2016 - 9:00 AM
                                .list-group-item-text
                                    span Part of the email text that will be like a sneak peek. First 100 ..
                            .list-view-pf-additional-info
                                .list-view-pf-additional-info-item
                                    span.fa.fa-share
                                    strong 2000
                                    |  Sent
                                .list-view-pf-additional-info-item
                                    span.fa.fa-envelope-open
                                    strong 5%
                                    |  Open Rate
                                .list-view-pf-additional-info-item
                                    span.fa.fa-mouse-pointer
                                    strong 4%
                                    |  Click Rate



    #emailModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='emailModal', aria-hidden='true')
        .modal-dialog
            .modal-content

    script.
        $(document).ready(function() {

            $('#emailModal').on('show.bs.modal', function (event) {
                var itm = $(event.relatedTarget);
                var d = itm.data('load-url');
                console.log(d);

                var modal = $(this);
                modal.find('.modal-content').load(d);
            })
        })
    