doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title  #{festivalName} tickets!
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
    body(style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; height: 100% !important; margin: 0; padding: 0; width: 100% !important')
        style(type='text/css').
            .ReadMsgBody {
            width: 100%;
            }
            .ExternalClass {
            width: 100%;
            }
            .ExternalClass {
            line-height: 100%;
            }
            body {
            -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
            }
            img {
            -ms-interpolation-mode: bicubic;
            }
            body {
            margin: 0; padding: 0;
            }
            img {
            border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;
            }
            body {
            height: 100% !important; margin: 0; padding: 0; width: 100% !important;
            }
            @media screen and (max-width: 525px) {
            table[class="wrapper"] {
            width: 100% !important;
            }
            td[class="logo"] img {
            margin: 0 auto !important;
            }
            td[class="mobile-hide"] {
            display: none;
            }
            img[class="mobile-hide"] {
            display: none !important;
            }
            table[class="responsive-table"] {
            width: 100% !important;
            }
            td[class="padding"] {
            padding: 10px 5% 15px 5% !important;
            }
            td[class="padding-copy"] {
            padding: 10px 5% 10px 5% !important; text-align: left !important;
            }
            td[class="section-padding"] {
            padding: 10px 15px 10px 15px !important;
            }
            }
        table(border='0', cellpadding='0', cellspacing='0', width='100%', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt')
            tr
                td(bgcolor='#ffffff', align='center', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 3px 0 0')
                    div(style='color: #fefefe; display: none; font-family: Helvetica, sans-serif; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden') Your tickets are here!
                    table.wrapper(border='0', cellpadding='0', cellspacing='0', width='600', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt')
                        tr
                            td.logo(style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 20px 0px 30px', align='center')
                                table(border='0', cellpadding='0', cellspacing='0', width='100%', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt')
                                    tr
                                        td(bgcolor='#ffffff', width='100%', align='center', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 3px 0 0')
                                            a(href='http://www.tixi.co.ke', target='_blank', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%')
                                                img(alt='Tixi', src='http://res.cloudinary.com/dltsjsrti/image/upload/v1496739435/logo_rdztsy.png', style='-ms-interpolation-mode: bicubic; border: 0; color: #000000; display: block; font-family: Helvetica, sans-serif; font-size: 16px; height: auto; line-height: 100%; max-width: 150px; outline: none; text-decoration: none', border='0')
        table(border='0', cellpadding='0', cellspacing='0', width='100%', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt')
            tr
                td.section-padding(bgcolor='#ffffff', align='center', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0px 15px 15px')
                    table.responsive-table(border='0', cellpadding='0', cellspacing='0', width='600', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt')
                        tr
                            td(style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 3px 0 0')
                                table(width='600', border='0', cellspacing='0', cellpadding='0', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt')
                                    tr
                                        td(style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 3px 0 0')
                                            table(width='100%', border='0', cellspacing='0', cellpadding='0', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt')
                                                tr
                                                    td.padding-copy(align='left', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #666666; font-family: Helvetica, sans-serif; font-size: 16px; line-height: 25px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 0')
                                                        p Hi #{fullName},
                                                        p Your #{festivalName} tickets are finally here and we are just as excited as you are!
                                                        p
                                                            | All you now have to do is download the attached QR codes and that's it. Just show up to the event with that and you'll be good. 
                                                        p Feel free to reach out for more info. Thanks for being amazing!
                                                        p Tixi.
                                                
            table(border='0', cellpadding='0', cellspacing='0', width='100%', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt')
                tr
                    td.section-padding(bgcolor='#ffffff', align='center', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 15px')
                        table(border='0', cellspacing='0', cellpadding='0', width='600', align='center', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt')
                            tr
                                td(style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-top-color: #aaaaaa; border-top-style: solid; border-top-width: 1px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 15px 0px 30px', align='center')
                                    table.responsive-table(width='100%', border='0', cellspacing='0', cellpadding='0', align='center', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt')
                                        tr
                                            td(align='center', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 3px 0 0')
                                                table(border='0', cellspacing='20', cellpadding='0', align='center', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt')
                                                    tr
                                                        td(align='center', valign='middle', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 3px 0 0; width: 35px')
                                                            a(href='https://www.instagram.com/tixi_ke/', target='_blank', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%')
                                                                img(src='https://cdn.shopify.com/s/files/1/0396/8269/files/insta-icon.png?11757726220114975405', width='30', height='30', style='-ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none')
                                                        td(align='center', valign='middle', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 3px 0 0; width: 35px')
                                                            a(href='https://www.facebook.com/tixi_ke', target='_blank', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%')
                                                                img(src='https://cdn.shopify.com/s/files/1/0396/8269/files/fb-icon.png?11757726220114975405', width='30', height='30', style='-ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none')
                                                        td(align='center', valign='middle', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 3px 0 0; width: 35px')
                                                            a(href='https://www.pinterest.com/tixi_ke/', target='_blank', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%')
                                                                img(src='https://cdn.shopify.com/s/files/1/0396/8269/files/pin-icon.png?11757726220114975405', width='30', height='30', style='-ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none')
                                                        td(align='center', valign='middle', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 3px 0 0; width: 35px')
                                                            a(href='https://twitter.com/tixi_ke', target='_blank', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%')
                                                                img(src='https://cdn.shopify.com/s/files/1/0396/8269/files/tw-icon.png?11757726220114975405', width='30', height='30', style='-ms-interpolation-mode: bicubic; border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none')
                                        tr
                                            td(align='center', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; color: #666666; font-family: Helvetica, sans-serif; font-size: 12px; line-height: 15px; mso-table-lspace: 0pt; mso-table-rspace: 0pt; padding: 3px 0 0')
                                                //span.appleFooter(style='color: #666666') (888) 967-8832 | M - F 10am - 6pm PST
                                                br
                                                |  
                                                span.appleFooter(style='color: #666666')
                                                    a(href='mailto:help@tixi.co.ke', style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%') help@tixi.co.ke
                                                br
