head
  title #{festivalName} tickets
  meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
  meta(content='IE=edge', http-equiv='X-UA-Compatible')
  meta(content='width=device-width, initial-scale=1.0 ', name='viewport')
  meta(content='telephone=no', name='format-detection')
  // [if !mso] <!
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700', rel='stylesheet', type='text/css')
  // <![endif]
  style(type='text/css').
    body {
    margin: 0 !important;
    padding: 0 !important;
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
    -webkit-font-smoothing: antialiased !important;
    }
    img {
    border: 0 !important;
    outline: none !important;
    }
    p {
    margin: 0px !important;
    padding: 0px !important;
    }
    table {
    border-collapse: collapse;
    mso-table-lspace: 0px;
    mso-table-rspace: 0px;
    }
    td,
    a,
    span {
    border-collapse: collapse;
    mso-line-height-rule: exactly;
    }
    .ExternalClass * {
    line-height: 100%;
    }
    .em_white a {
    color: #ffffff;
    text-decoration: none;
    }
    .em_blue a {
    color: #26B7BF;
    text-decoration: underline;
    }
    .em_grey a {
    color: #a8a8a8;
    text-decoration: none;
    }
    .em_grey1 a {
    color: #a8a8a8;
    text-decoration: underline;
    }
    @media only screen and (min-width:550px) and (max-width:659px) {
    table[class=em_main_table] {
    width: 100% !important;
    }
    table[class=em_wrapper] {
    width: 100% !important;
    }
    td[class=em_aside] {
    width: 20px !important;
    }
    td[class=em_hide],
    table[class=em_hide],
    span[class=em_hide],
    br[class=em_hide] {
    display: none !important;
    }
    img[class=em_full_img] {
    width: 100% !important;
    height: auto !important;
    max-width: 100% !important;
    }
    td[class=em_center] {
    text-align: center !important;
    }
    div[class=em_hide_desktop] {
    display: table !important;
    float: none !important;
    width: 100% !important;
    overflow: visible !important;
    height: auto !important;
    }
    }
    @media only screen and (min-width:470px) and (max-width:549px) {
    table[class=em_main_table] {
    width: 100% !important;
    }
    table[class=em_wrapper] {
    width: 100% !important;
    }
    td[class=em_aside] {
    width: 20px !important;
    }
    td[class=em_hide],
    table[class=em_hide],
    span[class=em_hide],
    br[class=em_hide] {
    display: none !important;
    }
    img[class=em_full_img] {
    width: 100% !important;
    height: auto !important;
    max-width: 100% !important;
    }
    td[class=em_center] {
    text-align: center !important;
    }
    div[class=em_hide_desktop] {
    display: table !important;
    float: none !important;
    width: 100% !important;
    overflow: visible !important;
    height: auto !important;
    }
    }
    @media only screen and (min-width:421px) and (max-width:469px) {
    table[class=em_main_table] {
    width: 100% !important;
    }
    table[class=em_wrapper] {
    width: 100% !important;
    }
    td[class=em_aside] {
    width: 20px !important;
    }
    td[class=em_hide],
    table[class=em_hide],
    span[class=em_hide],
    br[class=em_hide] {
    display: none !important;
    }
    img[class=em_full_img] {
    width: 100% !important;
    height: auto !important;
    max-width: 100% !important;
    }
    td[class=em_center] {
    text-align: center !important;
    }
    div[class=em_hide_desktop] {
    display: table !important;
    float: none !important;
    width: 100% !important;
    overflow: visible !important;
    height: auto !important;
    }
    }
    @media only screen and (max-width:420px) {
    table[class=em_main_table] {
    width: 100% !important;
    }
    table[class=em_wrapper] {
    width: 100% !important;
    }
    td[class=em_aside] {
    width: 20px !important;
    }
    td[class=em_hide],
    table[class=em_hide],
    span[class=em_hide],
    br[class=em_hide] {
    display: none !important;
    }
    td[class=em_hide1],
    table[class=em_hide1],
    span[class=em_hide1],
    br[class=em_hide1] {
    display: none !important;
    }
    img[class=em_full_img] {
    width: 100% !important;
    height: auto !important;
    max-width: 100% !important;
    }
    td[class=em_center] {
    text-align: center !important;
    }
    td[class=em_h24] {
    height: 24px !important;
    }
    td[class=em_h16] {
    height: 16px !important;
    }
    td[class=em_h40] {
    height: 40px !important;
    }
    div[class=em_hide_desktop] {
    display: table !important;
    float: none !important;
    width: 100% !important;
    overflow: visible !important;
    height: auto !important;
    }
    div[class=em_hide_desktop1] {
    display: table !important;
    float: none !important;
    width: 100% !important;
    overflow: visible !important;
    height: auto !important;
    }
    }
    @media only screen and (max-device-width: 660px),
    only screen and (max-width: 660px) {
    td[class='m-td'] {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    min-height: 0 !important;
    }
    }
    @media only screen and (max-device-width: 660px),
    only screen and (max-width: 660px) {
    td[class='column-292'] {
    float: left !important;
    width: 100% !important;
    display: block !important;
    }
    }
  style(type='text/css').
    div.preheader {
    display: none !important;
    }
table(cellpadding='0', cellspacing='0', style='border: 0px; padding: 0px; margin: 0px; position: absolute; display: none; float: left')
  tbody
    tr
      td(height='1', style='font-size: 1px; line-height: 1px; padding: 0px;')
        img(height='1', width='1', style='padding: 0px 0px; !important; margin: 0px 0px; font-size: 1px; line-height: 1px;', src='https://e.rover.com/pub/as?_ri_=X0Gzc2X%3DYQpglLjHJlTQGgNdUNlzb1nXhrHq4g6kTUr2Th3gUblWzerswdrjpzdEqRM1NzeGkN2pVXHkMX%3Dw&_ei_=EolaGGF4SNMvxFF7KucKuWPxR5B8_8tMdXSS3jeZ0PJzbd_pF7e_78FJ3q56gVKL2rI9QmG2LyGl-daQJun3Mg.')
// Full width table start
table(bgcolor='#f2f2f2', border='0', cellpadding='0', cellspacing='0', width='100%')
  tbody
    tr
      td(align='center', data-content-region-name='emailbody')
        .preheader(style='font-size: 1px; display: none !important;')
        // Full width table start
        table(bgcolor='#f2f2f2', border='0', cellpadding='0', cellspacing='0', width='100%')
          tbody
            tr
              td(align='center')
                // Template Body Start
                table.em_main_table(align='center', border='0', cellpadding='0', cellspacing='0', style='table-layout:fixed;', width='660')
                  tbody
                    tr
                      td.em_hide(bgcolor='#f2f2f2', height='1', style='line-height:1px; min-width: 660px;')
                        img(border='0', height='1', src='https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/ownertriggered/welcome/brandupdate/img/empty.gif', style='max-height:1px; min-height:1px; display:block; width:660px; min-width:660px;', <='', td='')
                    tr
                      td
                        table(border='0', cellpadding='0', cellspacing='0', width='100%')
                          tbody
                            tr
                              td.em_hide(width='10')
                              td
                                table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                  tbody
                                    tr
                                      td(height='15', style='line-height:0px;font-size:0px;')
                                    tr
                                      td.em_hide(height='3', style='line-height:0px;font-size:0px;')
                                    // === HEADER SECTION ===
                                    tr
                                      td(align='center')
                                        a(href='https://tixi.co.ke', target='_blank')
                                          img(border='0', src='http://res.cloudinary.com/dltsjsrti/image/upload/v1496739435/logo_rdztsy.png', style='display:block;max-width:135px;', width='135')
                                    // === //HEADER SECTION ===
                                    tr
                                      td(height='15', style='line-height:0px;font-size:0px;')
                                    tr
                                      td.em_hide(height='2', style='line-height:0px;font-size:0px;')
                                    // === BODY SECTION ===
                                    tr
                                      td(bgcolor='#ffffff')
                                        table(bgcolor='#ffffff', border='0', cellpadding='0', cellspacing='0', width='100%')
                                          tbody
                                            // === IMAGE ===
                                            tr
                                              td.em_hide1
                                                a(href='https://tixi.co.ke', target='_blank')
                                                  img.em_full_img(alt='', border='0', height='250', src='http://res.cloudinary.com/dltsjsrti/image/upload/v1499851002/640x250_email_kli04q.jpg', style='display:block;max-width:640px;', <='', a='')
                                            // [if !mso 9] <!
                                            tr
                                              td(height='0')
                                                .em_hide_desktop1(style='display:none;width:0;overflow:hidden;max-height:0!important')
                                                  table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
                                                    tbody
                                                      tr
                                                        td(align='center')
                                                          a(href='https://tixi.co.ke', target='_blank')
                                                            img.em_full_img(alt='', border='0', src='http://res.cloudinary.com/dltsjsrti/image/upload/v1499851002/320x175_email_nj8rxh.jpg', <='', a='')
                                            // <![endif]
                                            // === //IMAGE ===
                                            // === SECTION 1 ===
                                            tr
                                              td
                                                table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                                  tbody
                                                    tr
                                                      td.em_aside(width='40')
                                                      td(align='center', valign='top')
                                                        table(align='center', border='0', cellpadding='0', cellspacing='0', width='100%')
                                                          tbody
                                                            tr
                                                              td(height='30', style='line-height:0px;font-size:0px;')
                                                            tr
                                                              td(align='left', style="font-family:'Avenir','Open Sans', Arial, sans-serif;font-size:16px;line-height:24px;color:#555555;font-weight:300;")
                                                                | Hi #{fullName},
                                                                br
                                                                br
                                                                | Your #{festivalName} tickets are finally here and we are just as excited as you are!
                                                                br
                                                                | All you now have to do is download the attached QR codes and that's it. 
                                                                br
                                                                br
                                                                | Feel free to reach out for more info. Thanks for being amazing!
                                                                br
                                                                | Tixi.
                                                            tr
                                                              td(height='30', style='line-height:0px;font-size:0px;')
                                                            // END Spacer
                                                      td.em_aside(width='40')
                                            // === //SECTION 1 ===
                                    // === //BODY SECTION ===
                                    tr
                                      td.em_hide(height='16', style='line-height:0px;font-size:0px;')
                                    // === MOBILE NAVIGATION ===
                                    // [if !mso 9] <!
                                    tr
                                      td(height='0')
                                        .em_hide_desktop(style='display:none;width:0;overflow:hidden;max-height:0!important')
                                          table.em_wrapper(align='center', border='0', cellpadding='0', cellspacing='0', width='320')
                                            tbody
                                              tr
                                                td(bgcolor='#dbdbdb', height='1', style='line-height:0px;font-size:0px;')
                                                  img(alt='', border='0', height='1', src='https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/ownertriggered/welcome/brandupdate/img/empty.gif', <='', td='')
                                              tr
                                                td
                                                  table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                                    tbody
                                                      tr
                                                        td(width='20')
                                                        td(align='left', height='48', style="font-family:'Avenir','Open Sans', Arial, sans-serif;font-size:17px;color:#797979;font-weight:300;", valign='middle')
                                                          a(href='https://www.rover.com/search/?utm_medium=email&utm_source=Responsys&utm_campaign=062217190000&utm_content=SO_-_2_-_Rover_Signup_Confirmation#rover.1398282&utm_term=062217', <='', a='')
                                                        td(align='right', height='48', valign='middle', width='13')
                                                          a(href='https://www.rover.com/search/?utm_medium=email&utm_source=Responsys&utm_campaign=062217190000&utm_content=SO_-_2_-_Rover_Signup_Confirmation#rover.1398282&utm_term=062217', target='_blank')
                                                            img(alt='', border='0', height='13', src='https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/ownertriggered/welcome/brandupdate/img/ico_search.png', <='', a='')
                                                        td(width='20')
                                              tr
                                                td(bgcolor='#e1e1e1', height='1', style='line-height:0px;font-size:0px;')
                                                  img(alt='', border='0', height='1', src='https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/ownertriggered/welcome/brandupdate/img/empty.gif', <='', td='')
                                              tr
                                                td
                                                  table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                                    tbody
                                                      tr
                                                        td(width='20')
                                                        td(align='left', height='48', style="font-family:'Avenir','Open Sans', Arial, sans-serif;font-size:17px;color:#797979;font-weight:300;", valign='middle')
                                                          a(href='https://www.rover.com/become-a-sitter/?utm_campaign=062217190000&utm_content=SO_-_2_-_Rover_Signup_Confirmation%23rover.1398282&utm_medium=email&utm_source=Responsys&utm_term=062217', <='', a='')
                                                        td(align='right', height='48', valign='middle', width='14')
                                                          a(href='https://www.rover.com/become-a-sitter/?utm_campaign=062217190000&utm_content=SO_-_2_-_Rover_Signup_Confirmation%23rover.1398282&utm_medium=email&utm_source=Responsys&utm_term=062217', target='_blank')
                                                            img(alt='', border='0', height='13', src='https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/ownertriggered/welcome/brandupdate/img/ico_becomesitter.png', <='', a='')
                                                        td(width='20')
                                              tr
                                                td(bgcolor='#e1e1e1', height='1', style='line-height:0px;font-size:0px;')
                                                  img(alt='', border='0', height='1', src='https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/ownertriggered/welcome/brandupdate/img/empty.gif', <='', td='')
                                              tr
                                                td
                                                  table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                                    tbody
                                                      tr
                                                        td(width='20')
                                                        td(align='left', height='48', style="font-family:'Avenir','Open Sans', Arial, sans-serif;font-size:17px;color:#797979;font-weight:300;", valign='middle')
                                                          a(href='http://refer.rover.com/micro/microsite?source=ownerrebook&e=matthew@fathomanddraft.com', style='text-decoration:none;color:#797979;', <='', a='')
                                                        td(align='right', height='48', valign='middle', width='16')
                                                          a(href='http://refer.rover.com/micro/microsite?source=ownerrebook&e=matthew@fathomanddraft.com', target='_blank')
                                                            img(alt='', border='0', height='12', src='https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/ownertriggered/welcome/brandupdate/img/ico_give20.png', <='', a='')
                                                        td(width='20')
                                              tr
                                                td(bgcolor='#e1e1e1', height='1', style='line-height:0px;font-size:0px;')
                                                  img(alt='', border='0', height='1', src='https://static.cdn.responsys.net/i2/responsysimages/rover/contentlibrary/ownertriggered/welcome/brandupdate/img/empty.gif', <='', td='')
                                              tr
                                                td(height='16', style='line-height:0px;font-size:0px;')
                                    // <![endif]
                                    // === //MOBILE NAVIGATION ===
                                    // === FOOTER SECTION ===
                                    tr
                                      td
                                        table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                          tbody
                                            tr
                                              td(width='20')
                                              td
                                                table(border='0', cellpadding='0', cellspacing='0', width='100%')
                                                  tbody
                                                    tr
                                                      td(height='9', style='line-height:0px;font-size:0px;')
                                                    tr
                                                      td(height='16', style='line-height:0px;font-size:0px;')
                                                    // Start Legal Copy
                                                    tr
                                                      td.em_grey1(align='center', style='font-family:Helvetica, Arial, sans-serif;font-size:10px;line-height:14px;color:#a8a8a8;')
                                                        | Please add 
                                                        span(style='text-decoration:underline; color:#979797;') hello@sendy.tixi.co.ke
                                                        |  to your address book to make sure our emails
                                                    tr
                                                      td(height='16', style='line-height:0px;font-size:0px;')
                                                    tr
                                                      td.em_hide(height='10', style='line-height:0px;font-size:0px;')
                                                    tr
                                                      td.em_grey(align='center', style='font-family:Helvetica, Arial, sans-serif;font-size:10px;line-height:14px;color:#a8a8a8;')
                                                        a(href='https://www.rover.com/?utm_medium=email&utm_source=Responsys&utm_campaign=062217190000&utm_content=SO_-_2_-_Rover_Signup_Confirmation#rover.1398282&utm_term=062217', <='', a='')  Mombasa, Kenya
                                                    tr
                                                      td.em_hide(height='5', style='line-height:0px;font-size:0px;')
                                                    tr
                                                      td(height='1', style='line-height:0px;font-size:0px;')
                                                    // END Legal Copy
                                                    tr
                                                      td(height='40', style='line-height:0px;font-size:0px;')
                                              td(width='20')
                              td.em_hide(width='10')
                // Template Body End
        // Full width table End
        div(style='display:none; white-space:nowrap; font:20px courier; color:#f2f2f2;background-color:#f2f2f2;')
        custom(name='opencounter', type='tracking')  
// Full width table End
div(style='display:none; white-space:nowrap; font:20px courier; color:#f2f2f2;background-color:#f2f2f2;')
custom(name='opencounter', type='tracking')  
