doctype html
html.layout-pf.layout-pf-fixed(lang='en-us')
  // <![endif]
  head
    meta(charset='utf-8')
    block title
      title Tixi
    link(rel='stylesheet', href='/css/patternfly.min.css')
    link(rel='stylesheet', href='/css/patternfly-additions.min.css')
    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel='stylesheet', href='/css/flat-table.css')
    link(rel='stylesheet', href='/css/trumbowyg.min.css')
    // iPad retina icon
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/img/apple-touch-icon-precomposed-152.png')
    // iPad retina icon (iOS < 7)
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/img/apple-touch-icon-precomposed-144.png')
    // iPad non-retina icon
    link(rel='apple-touch-icon-precomposed', sizes='76x76', href='/img/apple-touch-icon-precomposed-76.png')
    // iPad non-retina icon (iOS < 7)
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/img/apple-touch-icon-precomposed-72.png')
    // iPhone 6 Plus icon
    link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/img/apple-touch-icon-precomposed-180.png')
    // iPhone retina icon (iOS < 7)
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/img/apple-touch-icon-precomposed-114.png')
    // iPhone non-retina icon (iOS < 7)
    link(rel='apple-touch-icon-precomposed', sizes='57x57', href='/img/apple-touch-icon-precomposed-57.png')
    // jQuery
    script(src='/jquery/dist/jquery.min.js')
    // Bootstrap JS
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    // C3, D3 - Charting Libraries
    script(src='/c3/c3.min.js')
    script(src='/d3/d3.min.js')
    // Datatables, jQuery Grid Component
    // Note: jquery.dataTables.js must occur in the html source before patternfly*.js.
    script(src='/datatables/media/js/jquery.dataTables.js')
    script(src='/datatables/media/js/jquery.dataTables.min.js')
    script(src='/drmonty-datatables-colvis/js/dataTables.colVis.js')
    script(src='/datatables.net-colreorder/js/dataTables.colReorder.js')
    // PatternFly Custom Componets -  Sidebar, Popovers and Datatables Customizations
    // Note: jquery.dataTables.js must occur in the html source before patternfly*.js.
    script(src='/js/patternfly.min.js')
    // Bootstrap Combobox
    script(src='/patternfly-bootstrap-combobox/js/bootstrap-combobox.js')
    // Moment - required by Bootstrap Date Time Picker
    script(src='/moment/min/moment.min.js')
    // Bootstrap Date Picker
    script(src='/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    // Bootstrap Date Time Picker - requires Moment
    script(src='/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    // Bootstrap Select
    script(src='/bootstrap-select/dist/js/bootstrap-select.min.js')
    // Bootstrap Switch
    script(src='/bootstrap-switch/dist/js/bootstrap-switch.min.js')
    // Bootstrap Touchspin
    script(src='/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js')
    // Bootstrap Tree View
    script(src='/patternfly-bootstrap-treeview/dist/bootstrap-treeview.min.js')
    // Google Code Prettify - Syntax highlighting of code snippets
    script(src='/google-code-prettify/bin/prettify.min.js')
    // MatchHeight - Used to make sure dashboard cards are the same height
    script(src='/jquery-match-height/jquery.matchHeight-min.js')
    
    script.
      $(document).ready(function() {
      // matchHeight the contents of each .card-pf and then the .card-pf itself
      $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
      $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
      $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
      $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();
      // initialize tooltips
      $('[data-toggle="tooltip"]').tooltip();
      // Initialize the vertical navigation
      $().setupVerticalNavigation(true);
      });
  body.cards-pf
    // navbar Header
    nav.navbar.navbar-pf-vertical
      .navbar-header
        button.navbar-toggle(type='button')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/admin/event')
          span #{eventName}
      nav.collapse.navbar-collapse
        ul.nav.navbar-nav
        ul.nav.navbar-nav.navbar-right.navbar-iconic
          //- li.dropdown
          //-   a#notifications.dropdown-toggle.nav-item-iconic(data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
          //-     span.fa.pficon-flag(title='Notifications')
          //-     span.badge 2
          //-   .dropdown-menu.infotip.bottom-right
          //-     .arrow
          //-     ul.list-group
          //-       li.list-group-item
          //-         span.i.pficon.pficon-info
          //-         |  Modified Datasources ExampleDS
          //-       li.list-group-item
          //-         span.i.pficon.pficon-info
          //-         |  Error: System Failure
          //-     .footer
          //-       a Clear Messages
          //- li.dropdown
          //-   a#dropdownMenu1.dropdown-toggle.nav-item-iconic(data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
          //-     span.fa.pficon-help(title='Help')
          //-     span.caret
          //-   ul.dropdown-menu(aria-labelledby='dropdownMenu1')
          //-     li
          //-       a(href='#') Help
          //-     li
          //-       a(href='#') About
          li.dropdown
            a#dropdownMenu2.dropdown-toggle.nav-item-iconic(data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
              span.fa.pficon-user(title='Username')
              span.caret
            ul.dropdown-menu(aria-labelledby='dropdownMenu2')
              li
                //- a(href='/logout') Logout #{user.name.first}
                a(href='/logout') Logout

    // /.navbar
    block navbar

    //Body
    .container-fluid.container-cards-pf.container-pf-nav-pf-vertical.container-pf-nav-pf-vertical-with-secondary
      block content