extends layout
block title
    title=title

block content
    .container-fluid.container-cards-pf.container-pf-nav-pf-vertical.container-pf-nav-pf-vertical-with-secondary
      // Row
      .row.row-cards-pf
        // Important:  if you need to nest additional .row within a .row.row-cards-pf, do *not* use .row-cards-pf on the nested .row
        .col-xs-12.col-sm-6.col-md-12
          each portal, index in portals
            // List/Panels
            .list-group.list-view-pf
              .list-group-item.list-view-pf-stacked
                .list-view-pf-actions
                  // Add the drop down caret
                .list-view-pf-main-info
                  .list-view-pf-left
                    span.fa.fa-sign-in.list-view-pf-icon-lg
                  .list-view-pf-body
                    .list-view-pf-description
                      .list-group-item-heading
                        | Portal #{portal.portalID} 
                        small #{portal.lastcheckedAt}
                      .list-group-item-text
                        a(href='/admin/portals/scans/#{portal.portalID}') View stats
                    .pull-right
                      span.label.label-success Online
              // List/Panels
         