doctype html
html
    head
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        title Order complete
        style.
            @import url('https://fonts.googleapis.com/css?family=Montserrat');
            .bahdy {
            background-color: whitesmoke;
            font-family: 'Rubik', sans-serif;
            color: #424242;
            }
            .img-center{
            margin: 0 auto;
            }
            .circleBase {
            border-radius: 50%;
            margin: 0 auto;
            behavior: url(PIE.htc); /* remove if you don't care about IE8 */
            }
            .type3 {
            width: 200px;
            height: 200px;
            position: relative;
            }
            .pull-right {
            float: right!important;
            }
            .pull-left {
            float: left!important;
            }
            .qr-div{
            -webkit-transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
            }
            .text-center {
            text-align: center;
            }
            h1{
            font-size: 24px;
            line-height: 1.1;
            margin-top: 20px;
            margin-bottom: 10px;
            }
            h3{
            font-size: 18px;
            line-height: 1.1;
            margin-top: 20px;
            margin-bottom: 10px;
            }
            .btn-flat{
            color: #fff; /*424242*/
            font-size: 24px;
            padding: 5px;
            background-color: #424242;
            border: none;
            font-family: 'Montserrat', sans-serif;
            border-radius: 0px;
            }
            .sk-circle {
            margin: 100px auto;
            width: 40px;
            height: 40px;
            position: relative;
            }
            .sk-circle .sk-child {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            }
            .sk-circle .sk-child:before {
            content: '';
            display: block;
            margin: 0 auto;
            width: 15%;
            height: 15%;
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
                    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
            }
            .sk-circle .sk-circle2 {
            -webkit-transform: rotate(30deg);
                -ms-transform: rotate(30deg);
                    transform: rotate(30deg); }
            .sk-circle .sk-circle3 {
            -webkit-transform: rotate(60deg);
                -ms-transform: rotate(60deg);
                    transform: rotate(60deg); }
            .sk-circle .sk-circle4 {
            -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                    transform: rotate(90deg); }
            .sk-circle .sk-circle5 {
            -webkit-transform: rotate(120deg);
                -ms-transform: rotate(120deg);
                    transform: rotate(120deg); }
            .sk-circle .sk-circle6 {
            -webkit-transform: rotate(150deg);
                -ms-transform: rotate(150deg);
                    transform: rotate(150deg); }
            .sk-circle .sk-circle7 {
            -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                    transform: rotate(180deg); }
            .sk-circle .sk-circle8 {
            -webkit-transform: rotate(210deg);
                -ms-transform: rotate(210deg);
                    transform: rotate(210deg); }
            .sk-circle .sk-circle9 {
            -webkit-transform: rotate(240deg);
                -ms-transform: rotate(240deg);
                    transform: rotate(240deg); }
            .sk-circle .sk-circle10 {
            -webkit-transform: rotate(270deg);
                -ms-transform: rotate(270deg);
                    transform: rotate(270deg); }
            .sk-circle .sk-circle11 {
            -webkit-transform: rotate(300deg);
                -ms-transform: rotate(300deg);
                    transform: rotate(300deg); }
            .sk-circle .sk-circle12 {
            -webkit-transform: rotate(330deg);
                -ms-transform: rotate(330deg);
                    transform: rotate(330deg); }
            .sk-circle .sk-circle2:before {
            -webkit-animation-delay: -1.1s;
                    animation-delay: -1.1s; }
            .sk-circle .sk-circle3:before {
            -webkit-animation-delay: -1s;
                    animation-delay: -1s; }
            .sk-circle .sk-circle4:before {
            -webkit-animation-delay: -0.9s;
                    animation-delay: -0.9s; }
            .sk-circle .sk-circle5:before {
            -webkit-animation-delay: -0.8s;
                    animation-delay: -0.8s; }
            .sk-circle .sk-circle6:before {
            -webkit-animation-delay: -0.7s;
                    animation-delay: -0.7s; }
            .sk-circle .sk-circle7:before {
            -webkit-animation-delay: -0.6s;
                    animation-delay: -0.6s; }
            .sk-circle .sk-circle8:before {
            -webkit-animation-delay: -0.5s;
                    animation-delay: -0.5s; }
            .sk-circle .sk-circle9:before {
            -webkit-animation-delay: -0.4s;
                    animation-delay: -0.4s; }
            .sk-circle .sk-circle10:before {
            -webkit-animation-delay: -0.3s;
                    animation-delay: -0.3s; }
            .sk-circle .sk-circle11:before {
            -webkit-animation-delay: -0.2s;
                    animation-delay: -0.2s; }
            .sk-circle .sk-circle12:before {
            -webkit-animation-delay: -0.1s;
                    animation-delay: -0.1s; }

            @-webkit-keyframes sk-circleBounceDelay {
            0%, 80%, 100% {
                -webkit-transform: scale(0);
                        transform: scale(0);
            } 40% {
                -webkit-transform: scale(1);
                        transform: scale(1);
            }
            }

            @keyframes sk-circleBounceDelay {
            0%, 80%, 100% {
                -webkit-transform: scale(0);
                        transform: scale(0);
            } 40% {
                -webkit-transform: scale(1);
                        transform: scale(1);
            }
            }
            
    body
        .bahdy
            .modal-header
                h1.text-center #{header}
            .modal-body
                .sk-circle
                    .sk-circle1.sk-child
                    .sk-circle2.sk-child
                    .sk-circle3.sk-child
                    .sk-circle4.sk-child
                    .sk-circle5.sk-child
                    .sk-circle6.sk-child
                    .sk-circle7.sk-child
                    .sk-circle8.sk-child
                    .sk-circle9.sk-child
                    .sk-circle10.sk-child
                    .sk-circle11.sk-child
                    .sk-circle12.sk-child

            .modal-footer
                .div.text-center
                    h3.text-center &nbsp;

script.
    $(document).ready(function(){
        $('#payment-modal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        }
    )