doctype html
html
    head
        meta(http-equiv='content-type', content='text/html; charset=UTF-8')
        title Order complete
        style.
            .bahdy {
            background-color: whitesmoke;
            font-family: 'Rubik', sans-serif;
            color: #424242;
            }
            .img-center{
            margin: 0 auto;
            }
            .circleBase {
            border-radius: 50%;
            margin: 0 auto;
            }
            .type3 {
            width: 200px;
            height: 200px;
            position: relative;
            }
            .pull-right {
            float: right!important;
            }
            .pull-left {
            float: left!important;
            }
            .qr-div{
            -webkit-transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
            }
            .text-center {
            text-align: center;
            }
            h1{
            font-size: 24px;
            line-height: 1.1;
            margin-top: 20px;
            margin-bottom: 10px;
            }
            h3{
            font-size: 18px;
            line-height: 1.1;
            margin-top: 20px;
            margin-bottom: 10px;
            }
            .btn-flat{
            color: #fff; /*424242*/
            font-size: 24px;
            padding: 5px;
            background-color: #424242;
            border: none;
            font-family: 'Montserrat', sans-serif;
            border-radius: 0px;
            }
            
            
    body
        .bahdy
            .modal-header
                h1.text-center #{header}
            .modal-body
                .featurette
                    .circleBase.type3
                        -var durl = complete ? "http://res.cloudinary.com/dltsjsrti/image/upload/v1499241123/checked_ouhd1a.svg" : "http://res.cloudinary.com/dltsjsrti/image/upload/v1499241141/cancel_lxrcas.svg";
                        img.qr-div(src=durl, width=200)
                h3.text-center #{message}
            .modal-footer
                .div.text-center
                    //a.btn.btn-pill(type='button', data-dismiss='modal' onClick="window.location.reload()") CLOSE
                    a.btn-pill.text-right(href='' data-dismiss='modal', data-target='#payModal' onClick="window.location.reload()") Close

script.
    $(document).ready(function(){
        $('#payment-modal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        }
    )