extends layout
block title
    title Booths
block content
      .row.row-cards-pf
        // Important:  if you need to nest additional .row within a .row.row-cards-pf, do *not* use .row-cards-pf on the nested .row
        .col-xs-12.col-sm-6.col-md-3
          .card-pf.card-pf-accented.card-pf-aggregate-status
            h2.card-pf-title
              span.fa.fa-shield
              span.card-pf-aggregate-status-count 0
              |  Ipsum
            .card-pf-body
              p.card-pf-aggregate-status-notifications
                span.card-pf-aggregate-status-notification
                  a.add(href='#', data-toggle='tooltip', data-placement='top', title='Add Ipsum')
                    span.pficon.pficon-add-circle-o
        .col-xs-12.col-sm-6.col-md-3
          .card-pf.card-pf-accented.card-pf-aggregate-status
            h2.card-pf-title
              a(href='#')
                span.fa.fa-shield
                span.card-pf-aggregate-status-count 20
                |  Amet
            .card-pf-body
              p.card-pf-aggregate-status-notifications
                span.card-pf-aggregate-status-notification
                  a(href='#')
                    span.pficon.pficon-error-circle-o
                    | 4
                span.card-pf-aggregate-status-notification
                  a(href='#')
                    span.pficon.pficon-warning-triangle-o
                    | 1
        .col-xs-12.col-sm-6.col-md-3
          .card-pf.card-pf-accented.card-pf-aggregate-status
            h2.card-pf-title
              a(href='#')
                span.fa.fa-shield
                span.card-pf-aggregate-status-count 9
                |  Adipiscing
            .card-pf-body
              p.card-pf-aggregate-status-notifications
                span.card-pf-aggregate-status-notification
                  span.pficon.pficon-ok
        .col-xs-12.col-sm-6.col-md-3
          .card-pf.card-pf-accented.card-pf-aggregate-status
            h2.card-pf-title
              a(href='#')
                span.fa.fa-shield
                span.card-pf-aggregate-status-count 12
                |  Lorem
            .card-pf-body
              p.card-pf-aggregate-status-notifications
                a(href='#')
                  span.card-pf-aggregate-status-notification
                    span.pficon.pficon-error-circle-o
                    | 1
      // /row
      .row.row-cards-pf
        .col-xs-12.col-sm-4.col-md-4
          .card-pf.card-pf-utilization
            h2.card-pf-title
              | Network
            .card-pf-body
              p.card-pf-utilization-details
                span.card-pf-utilization-card-details-count 200
                span.card-pf-utilization-card-details-description
                  span.card-pf-utilization-card-details-line-1 Available
                  span.card-pf-utilization-card-details-line-2 of 1300 Gbps
              #chart-pf-donut-4
              #chart-pf-sparkline-4.chart-pf-sparkline
              script.
                var c3ChartDefaults = $().c3ChartDefaults();
                var donutConfig = c3ChartDefaults.getDefaultDonutConfig('A');
                donutConfig.bindto = '#chart-pf-donut-4';
                donutConfig.color =  {
                pattern: ["#EC7A08","#D1D1D1"]
                };
                donutConfig.data = {
                type: "donut",
                columns: [
                ["Used", 85],
                ["Available", 15]
                ],
                groups: [
                ["used", "available"]
                ],
                order: null
                };
                donutConfig.tooltip = {
                contents: function (d) {
                return '<span class="donut-tooltip-pf" style="white-space: nowrap;">' +
                Math.round(d[0].ratio * 100) + '%' + ' Gbps ' + d[0].name +
                '</span>';
                }
                };
                var chart1 = c3.generate(donutConfig);
                var donutChartTitle = d3.select("#chart-pf-donut-4").select('text.c3-chart-arcs-title');
                donutChartTitle.text("");
                donutChartTitle.insert('tspan').text("1100").classed('donut-title-big-pf', true).attr('dy', 0).attr('x', 0);
                donutChartTitle.insert('tspan').text("Gbps Used").classed('donut-title-small-pf', true).attr('dy', 20).attr('x', 0);
                var sparklineConfig = c3ChartDefaults.getDefaultSparklineConfig();
                sparklineConfig.bindto = '#chart-pf-sparkline-4';
                sparklineConfig.data = {
                columns: [
                ['%', 60, 55, 70, 44, 31, 67, 54, 46, 58, 75, 62, 68, 69, 88, 74, 88, 85],
                ],
                type: 'area'
                };
                var chart2 = c3.generate(sparklineConfig);
