doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Ticket
    script(src='js/qrcode.min.js')
    link(rel='stylesheet', href='css/ticket-bootstrap.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      @font-face {
        font-family: 'Montserrat';
        src: url('fonts/ticket/Montserrat-Bold.ttf')  format('truetype');
        font-weight: bold;
        font-style: normal;
      }
        
      @font-face {
        font-family: 'Open Sans';
        src: url('fonts/ticket/open-sans.regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
      }
        
      /*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');*/
      /*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');*/

      .row {
      text-align: center;
      }
      .container {
      margin-top: 40px;
      width: 1200px;
      border: 4px solid black;
      }
      .row>div {
      margin: 40px auto;
      }
      .row.vdivide [class*='col-']:not(:last-child):after {
      background: #000;
      width: 1px;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      min-height: 250px;
      }
      .qr {
      margin: 0 auto;
      }
      .qr>p {
      margin: 20px auto;
      }
      .qr-div {
      padding-top: 2em;
      margin: 0 auto;
      }
      #qrcode>img {
      display: initial;
      float: none;
      margin: 0 auto;
      }
      .eventdetails p {
      text-transform: uppercase;
      }
      .verticalDivider {
      border-right: 4px dashed #000;
      height: 270px;
      }
      .heading-sm {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.5em;
      font-weight: 700;
      }
      .heading-xs {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.2em;
      font-weight: 700;
      }
      .event-name {
      font-family: 'Montserrat', sans-serif;
      font-size: 3em;
      font-weight: bold;
      font-style: normal;
      }
      .month-date {
      font-family: 'Montserrat', sans-serif;
      font-size: 2em;
      font-weight: 700;
      }
      hr {
      border-color: black;
      margin-top: 4em;
      }
      .logo {
      width: 250px;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      margin: 60px 0 0px -40px;
      }
  body
    .container
      .row.vdivide
        .qr.col-xs-3.text-center
          #qrcode
          p.heading-xs #{ticketID}
        .col-xs-7.text-center
          .eventdetails
            p.heading-sm #{location}
            h1.event-name #{evntName}
          .price
            p.heading-xs(style='float: left !important;') KES #{price}
            p.heading-xs(style='float: right !important;') ADMITS 1
          hr
          .date
            h2.month-date #{date}
            p.heading-sm #{time}
        .col-xs-2.text-center
          img.logo(src='images/logo.png')
      p.heading-xs.text-center
        | Ngong RacecourseNgong urseNgong RacecoursecoursNgong RacecourseNgong RacecourseNgong Racecourse
  script.
    var qrcode = new QRCode(document.getElementById("qrcode"), {
    text: "!{ticketID}",
    width: 200,
    height: 200,
    colorDark: "#424242",
    colorLight: "#ffffff",
    correctLevel: QRCode.CorrectLevel.H
    });
