@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: #43423E;
}

a {
    text-decoration: none;
    color: #5C7FB8;
}

a:hover {
    text-decoration: underline;
}

.event-card {
    font: 14px/22px "Lato", Arial, sans-serif;
    color: #eaeaea;
    padding: 40px 0;
}

.card-container {
    margin: 0 auto;
    width: 300px;
    height: 160px;
    background: #F0F0ED;
    position: relative;
}

.hero {
    height: 300px;
    margin: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.cover {
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 2;
}

.details {
    padding: 190px 0 0 50px;
    z-index: 1;
}

.tag {
    background: #2dc56d;
    padding: 0.5em 0.8em;
    font-size: 1.2em;
    margin: 1.5em 1em 0 0;
    line-height: 35px;
    cursor: pointer;
    float: right;
    color: #fff;
}

.tag h3 {
    font-size: 1em;
    margin: 0;
}

.tag:hover {
    background: #3cd27b;
}

.details .title1 {
    color: white;
    font-size: 44px;
    margin-bottom: 20px;
    position: relative;
}

.details .title1 span {
    position: absolute;
    top: 3px;
    margin-left: 12px;
    background: #C4AF3D;
    border-radius: 5px;
    color: #544C21;
    font-size: 14px;
    padding: 0px 4px;
}

.details .title2 {
    color: #eaeaea;
    font-size: 23px;
    font-weight: 300;
    margin-bottom: 15px;
}

.description {
    bottom: 0px;
    height: 200px;
    font-size: 16px;
    line-height: 26px;
    color: #B1B0AC;
}

.description:before {
    z-index: 1;
    -webkit-transform: skewY(-10.2deg);
    transform: skewY(-10.2deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-backface-visibility: hidden;
}

.titles {
    background: #000;
    padding: 1em;
}

.column1 {
    padding-left: 50px;
    padding-top: 120px;
    width: 220px;
    float: left;
    text-align: center;
}

.column2 {
    padding-left: 41px;
    padding-top: 30px;
    margin-left: 20px;
    width: 480px;
    float: left;
}