@import url('https://fonts.googleapis.com/css?family=Montserrat:500,800');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
@import url('https://fonts.googleapis.com/css?family=Rubik');
#side {
    position: fixed;
    z-index: 2;
    left: 0%;
    width: 40%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#body {
    position: absolute;
    left: 40%;
    width: 60%;
    height: 100%;
    background-color: whitesmoke;
}

.event-name {
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3em;
}

.event-name span {
    color: #2dc56d;
    margin-left: -0.1em;
}

.event-venue {
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2em;
}

.event-date {
    font-family: 'Rubik', sans-serif;
    font-size: 1.3em;
}

.event-details {
    margin: 0 auto;
    width: 80%;
    padding-top: 10em;
    padding-bottom: 3em;
    display: table;
}

.section-div {
    background-color: #2dc56d;
    padding: 0.4em;
    color: #fff;
    margin-bottom: 1.5em;
}

.section-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    border-bottom: 10px solid #2dc56d;
}

.ticket-type {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2em;
}

.ticket-price {
    font-family: 'Rubik', sans-serif;
    font-size: 1.3em;
}

.btn-pill {
    color: #ffffff ! important;
    text-decoration: none ! important;
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: 'Rubik', sans-serif;
    font-size: 1.3em;
    background: #2dc56d;
    padding: 15px 30px;
}

.btn-pill:hover,
.btn-pill:focus {
    background: #40dd82;
    text-decoration: none;
    color: #ffffff;
    outline: 0;
}

iframe {
    width: 100%;
    height: 400px;
}

.div1 {
    background: whitesmoke;
}

.div2 {
    background: white;
    padding-top: 4em;
    padding-bottom: 4em;
}

.div3 {
    background: whitesmoke;
    padding-top: 4em;
    padding-bottom: 4em;
}

.text-div {
    margin: 0 auto;
    width: 80%;
    /*font-size: 1.3em;*/
}

.desc {
    margin-top: 2em;
    line-height: 2em;
    font-size: 1.1em;
}

.desc p {
    margin: 0;
}

#overlay {
    position: fixed;
    display: block;
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#btn-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.ticketRow {
    border: 1px solid black;
    padding: 0.5rem;
}

.hide {
    display: none;
}

#exTab1 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

#exTab1 .nav-pills>li>a {
    border-radius: 0;
}

.btn-pay {
    padding: 10px 20px;
    margin-top: 20px;
}