.flat-table {
		margin-bottom: 20px;
        width: 100%;
		border-collapse:collapse;
		border: none;
                border-radius: 3px;
               -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
	}
	.flat-table th, .flat-table td {
		box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
			inset 0 1px rgba(0,0,0,0.25);
            text-align: center;
	}
	.flat-table th {
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		padding: 1.2em;
		color: #363636;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.15em;
        background: #EDE8E8;
	}
	.flat-table td {
		color: #363636;
		padding: 0.8em;
	}
	.flat-table-1 tr:hover {
		background: rgba(0,0,0,0.19);
	}