@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin-top: 30px; 
    background-color: #94DA5E;
    font-family: 'Montserrat', sans-serif !important;
}

.featurette-divider {
    margin: 20px 0;
}

.featurette {
    overflow: hidden;
}

.img-center{
    margin: 0 auto;
}

.circleBase {
    border-radius: 50%;
    margin: 0 auto;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    
}

.type3 {
    width: 300px;
    height: 300px;
    background: #fff;
    border: 15px solid #424242;
}

.highlight { 
    padding: 0.25em;
    padding-left: 10px;
    padding-right: 10px;
    background: #424242;
    color: #fff;
    width: 10%;
    margin: 10px auto;
}

.qr-div{
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    z-index: 999999;
}

.featurette-heading {
    text-transform: uppercase;
    font-weight: bold;
}

.featurette-details {
    text-transform: uppercase;
}

footer {
    margin: 20px 0;
}

