<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        body {
        background: url(https://dl.dropboxusercontent.com/u/30452701/tixi/hero_bg.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0;
        font-family: 'Lato', sans-serif;
        background-color: red;
        background-blend-mode: multiply;
        }

        
        .image_container {
            text-align: center;
            line-height: 300px;
        }

        .image_container img {
            vertical-align: middle;
            width: 70%;
        }

        #overlay img {
            width: 70%;
        }


    </style>
</head>

<body>
    <div class="image_container">
            <image src="https://dl.dropboxusercontent.com/u/30452701/tixi/lp.png"/>
    </div>
</body>