doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Tixi - Redefining live events.
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Redefining live events')
    meta(name='keywords', content='ticketing, tickets, rfid, nairobi, kenya, africa, cashlesss, events, brand amplification')
    meta(name='author', content='tixi')
    meta(property='og:title', content='')
    meta(property='og:image', content='')
    meta(property='og:url', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(name='twitter:title', content='')
    meta(name='twitter:image', content='')
    meta(name='twitter:url', content='')
    meta(name='twitter:card', content='')
    link(rel='stylesheet', href='css/animate.min.css')
    link(rel='stylesheet', href='css/icomoon.min.css')
    link(rel='stylesheet', href='css/themify-icons.min.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='js/modernizr-2.6.2.min.js')
    // FOR IE9 below
    //if lt IE 9
      script(src='js/respond.min.js')
  body
    .gtco-loader
    #page
      nav.gtco-nav(role='navigation')
        .gtco-container
          .row
            .col-md-12.text-right.gtco-contact
              ul
          .row
            .col-sm-4.col-xs-12(style='margin-top: -10px;')
              #gtco-logo
                a(href='/')
                  img.logo(src='images/logo.png', alt='', width='1000')
            .col-xs-8.text-right.menu-1
              ul
                li
                  a(href='/events/all') events
                li
                  a(href='features.html') features
                li
                  a(href='/login') login
                li
                  a#btn-login.btn.btn-white.btn-sm.btn-outline.btn-flat(href='/signup') sign up
      header#gtco-header.gtco-cover(role='banner', style='background-image:url(images/hero_bg.jpg);')
        .overlay
        .gtco-container
          .row
            .col-md-12.col-md-offset-0.text-left
              .display-t
                .display-tc
                  h1.animate-box(data-animate-effect='fadeInUp') redefining event ticketing
                  h2.animate-box(data-animate-effect='fadeInUp') simple and automated event ticketing processes.
                  // <p class="animate-box" data-animate-effect="fadeInUp"><a href="#start" class="btn btn-white btn-lg btn-outline btn-flat">GET STARTED</a></p>
      // Highlight events
      .gtco-section(style='padding-top: 0;')
        .events-banner
          a.grow(href='/events/all')
            h2(style='color: #fff; font-weight: 400; margin: 0;')
              | BROWSE EVENTS  
              span.ti-search(style='font-size: 0.8em;')
        .gtco-container(style='padding-top: 2em; margin-bottom: -2em;')
          .row
            .col-md-8.col-md-offset-2.text-center.gtco-heading.animate-box(href='#start')
              h2(style='padding-top: 1em;') Featured events
          .row.row-pb-md
            .col-md-12
              ul#gtco-portfolio-list
                each event in events
                    - var imgUrl = 'uploads/posters/' + event.posterPath
                    li.one-third.animate-box.grow(data-animate-effect='fadeIn', style='background-image: url('+ imgUrl+'); ')
                        a.color-1(href='/events/' + event.eventaliasID)
                            .case-studies-summary
                                span June 8
                                h2 #{event.eventName}
      // Getting started
      #gtco-started.gtco-section
        .gtco-container
          .row
            .col-md-8.col-md-offset-2.text-center.gtco-heading.animate-box(href='#start')
              h2(style='padding-top: 1em;') Getting started
              p
                | Getting started with setting up your event has never been this easy. In three easy steps, you're well on your way to providing a new and wholesome experience for your fans!
          .row
            .col-md-4.col-sm-6
              .feature-center.animate-box(data-animate-effect='fadeIn')
                span.icon
                  i.ti-user
                h3 SIGN UP
                p Log in and quickly create a new account. 
            .col-md-4.col-sm-6
              .feature-center.animate-box(data-animate-effect='fadeIn')
                span.icon
                  i.ti-pencil
                h3 CREATE EVENT
                p
                  | Once you sign up,a simple form fill is all you need to create your shiny new event!
            .col-md-4.col-sm-6
              .feature-center.animate-box(data-animate-effect='fadeIn')
                span.icon
                  i.ti-announcement
                h3 GO LIVE!
                p That's all you need to do! Surprisingly easy yeah?
          //
            <div class="row div-center">
            <a href="/signup" class=" btn-tixi btn-lg btn-outline btn-flat">GET STARTED</a>
            </div>
      #gtco-features.tixi-section2(style='padding: 3em 0;')
        .gtco-container
          .row
            .col-md-8.col-md-offset-2.text-center.gtco-heading.gtco-heading-sm(href='#start')
              h2 Mobile check-in
          .row
            .col-md-8.col-sm-12.col-xs-12.pull-right
              img.img-responsive(src='images/adevices.png', alt='')
            .col-md-4.col-sm-12.col-xs-12.text-center.pull-right.animate-box(data-animate-effect='fadeIn', style='margin-top: 100px;')
              p(style='font-size: 1.4em;')
                | Tixi provides a simple and intuitive user interface to make your experience a pleasant one. Coupled with well designed event pages and social media analytics, this is poised to be a valuable tool in your events logistics arsenal.
      // Image break
      .gtco-cover.gtco-cover-sm(data-stellar-background-ratio='0.5')
        .overlay
        .gtco-container.text-center
          .display-t
            .display-tc
              h1.animate-box(data-animate-effect='fadeInUp') elevated experiences
      #gtco-features.tixi-section2(style='padding: 3em 0;')
        .gtco-container
          .row
            .col-md-8.col-md-offset-2.text-center.gtco-heading.gtco-heading-sm(href='#start')
              h2 Low fees!
          .row
            .col-md-4.col-sm-12.col-xs-12.pull-left.text-center
              img.img-responsive.text-center(src='images/zero.png', alt='', width='300px', style='margin: 0 auto;')
            .col-md-8.col-sm-12.col-xs-12.text-center.pull-right.animate-box(data-animate-effect='fadeIn', style='margin-top: 100px;')
              p(style='font-size: 1.4em;')
                | Tixi provides a simple and intuitive user interface to make your experience a pleasant one. Coupled with well designed event pages and social media analytics, this is poised to be a valuable tool in your events logistics arsenal.
      #gtco-subscribe
        .gtco-container
          .row.animate-box
            .col-md-8.col-md-offset-2.text-center.gtco-heading
              h2 Sign Up!
              p Getting started with selling your tickets has never been this easy.
          .row.animate-box
            .col-md-12
              form.form-inline(action='/signup')
                .col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4
                  button.btn.btn-default.btn-block(type='submit') GET STARTED
      footer#gtco-footer(role='contentinfo')
        .gtco-container
          .row.row-p.b-md
            .col-md-4
              .gtco-widget
                h3 About Us
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eos molestias quod sint ipsum possimus temporibus officia iste perspiciatis consectetur in fugiat repudiandae cum. Totam cupiditate nostrum ut neque ab?
                p
                  | Header image by 
                  a(href='http://ivygathii.vsco.co')  Ivy Gathii
            .col-md-4.col-md-push-1
            .col-md-4
              .gtco-widget
                h3 Reach out
                ul.gtco-quick-contact
                  li
                    a(href='#')
                      i.icon-phone
                      |  +254710460468
                  li
                    a(href='#')
                      i.icon-mail2
                      |  help@tixi.co.ke
            .col-md-12(style='text-align: center; margin-bottom: -80px;')
              h3 redefining live events
    .gototop.js-top
      a.js-gotop(href='#')
        i.icon-arrow-up
    // jQuery
    script(src='js/jquery.min.js')
    // jQuery Easing
    script(src='js/jquery.easing.1.3.js')
    // Bootstrap
    script(src='js/bootstrap.min.js')
    // Waypoints
    script(src='js/jquery.waypoints.min.js')
    // countTo
    script(src='js/jquery.countTo.js')
    // Main
    script(src='js/main.js')
