.nav-pf-vertical.nav-pf-vertical-with-sub-menus
    ul.list-group
        // Dashboard
        li.list-group-item(class=one?"active":"")
            a(href='/admin/rfid')
                span.fa.fa-dashboard
                span.list-group-item-value Dashboard
        // Portals
        li.list-group-item(class=two?"active":"")
            a(href='/admin/rfid/portals')
                span.fa.fa-sign-in
                span.list-group-item-value Portals
        // Cash Load
        li.list-group-item(class=three?"active":"")
            a(href='/admin/rfid/booths')
                span.fa.fa-money
                span.list-group-item-value Cash Load
        // Merchants
        li.list-group-item(class=four?"active":"")
            a(href='/admin/rfid/merchants')
                span.pficon.pficon-users
                span.list-group-item-value Merchants
        // Zones
        li.list-group-item(class=five?"active":"")
            a(href='#')
                span.pficon.pficon-zone
                span.list-group-item-value Zones
        // Home
        li.list-group-item(class=five?"active":"")
            a(href='/admin/event')
                span.fa.fa-arrow-left
                span.list-group-item-value Home
        //- // Tickets
        //- li.list-group-item.secondary-nav-item-pf(data-target='#ticket-secondary', class=six?"active":"")
        //-     a
        //-         span.fa.fa-black-tie
        //-         span.list-group-item-value Management
        //-     #ticket-secondary.nav-pf-secondary-nav
        //-         .nav-item-pf-header
        //-             a.secondary-collapse-toggle-pf(data-toggle='collapse-secondary-nav')
        //-             span Tickets
        //-         ul.list-group
        //-             li.list-group-item(data-target='#amet-detracto-tertiary')
        //-                 a(href='/admin/rfid/tickets')
        //-                     span.fa.fa-ticket
        //-                     span.list-group-item-value Tickets
        //-             li.list-group-item(data-target='#amet-mediocrem-tertiary')
        //-                 a(href='/admin/rfid/orders')
        //-                     span.fa.fa-shopping-cart
        //-                     span.list-group-item-value Orders