extends ../layout
block title
    title Booth summary
    
block navbar
  include baseRfid

block content
        .row(style='margin-top: -20px;')
            .panel.panel-default
                .panel-body
                    h2.panel-title !{boothObject.boothID}
                    |!{boothObject.lastcheckedAt}
        //Cards information
        .row.row-cards-pf
            .col-xs-6.col-sm-4.col-md-3
                .card-pf.card-pf-accented.card-pf-aggregate-status
                    h2.card-pf-title
                        span.fa.fa-money.text-danger
                        |  Total Collected
                    .card-pf-body
                        p.card-pf-aggregate-status-notifications
                            span.card-pf-aggregate-status-notification
                                    - var tot = MPESA + CASH + CARD;
                                    | KES #{tot}                                        

            .col-xs-6.col-sm-4.col-md-3
                .card-pf.card-pf-accented.card-pf-aggregate-status
                    h2.card-pf-title
                        span.fa.fa-money.text-danger
                        |  MPESA transactions
                    .card-pf-body
                        p.card-pf-aggregate-status-notifications
                            span.card-pf-aggregate-status-notification
                                a(href='#', data-toggle='modal', data-target='#modal1')
                                    | KES #{MPESA}
                                #modal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                                        .modal-dialog
                                            .modal-content
                                                .modal-header
                                                    button.close(type='button', data-dismiss='modal', aria-hidden='true')
                                                        span.pficon.pficon-close
                                                    h4#myModalLabel.modal-title MPESA TRANSACTIONS
                                                .modal-body
                                                    table.datatable.table.table-striped.table-bordered
                                                        thead
                                                            tr
                                                                th UserID
                                                                th Amount
                                                                th Time loaded
                                                        tbody
                                                            each mload, index in MPESAtrans
                                                                tr
                                                                    td #{mload.userID}
                                                                    td #{mload.amount}
                                                                    td #{mload.loadedAt}
                                                                    
                                                .modal-footer
                                                    button.btn.btn-default(type='button', data-dismiss='modal') Cancel

            .col-xs-6.col-sm-4.col-md-3
                .card-pf.card-pf-accented.card-pf-aggregate-status
                    h2.card-pf-title
                        span.fa.fa-credit-card-alt
                        |  Cr/Debit card transactions
                    .card-pf-body
                        p.card-pf-aggregate-status-notifications
                            span.card-pf-aggregate-status-notification
                                a(href='#', data-toggle='modal', data-target='#modal2')
                                    | KES #{CARD}
                                #modal2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                                        .modal-dialog
                                            .modal-content
                                                .modal-header
                                                    button.close(type='button', data-dismiss='modal', aria-hidden='true')
                                                        span.pficon.pficon-close
                                                    h4#myModalLabel.modal-title CARD TRANSACTIONS
                                                .modal-body
                                                    table.datatable.table.table-striped.table-bordered
                                                        thead
                                                            tr
                                                                th UserID
                                                                th Amount
                                                                th Time loaded
                                                        tbody
                                                            each cload, index in CARDtrans
                                                                tr
                                                                    td #{cload.userID}
                                                                    td #{cload.amount}
                                                                    td #{cload.loadedAt}
                                                                    
                                                .modal-footer
                                                    button.btn.btn-default(type='button', data-dismiss='modal') Cancel

            .col-xs-6.col-sm-4.col-md-3
                .card-pf.card-pf-accented.card-pf-aggregate-status
                    h2.card-pf-title
                        span.fa.fa-money.text-danger
                        |  Cash transactions
                    .card-pf-body
                        p.card-pf-aggregate-status-notifications
                            span.card-pf-aggregate-status-notification
                                a(href='#', data-toggle='modal', data-target='#modal3')
                                    | KES #{CASH}
                                #modal3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                                        .modal-dialog
                                            .modal-content
                                                .modal-header
                                                    button.close(type='button', data-dismiss='modal', aria-hidden='true')
                                                        span.pficon.pficon-close
                                                    h4#myModalLabel.modal-title CASH TRANSACTIONS
                                                .modal-body
                                                    table.datatable.table.table-striped.table-bordered
                                                        thead
                                                            tr
                                                                th UserID
                                                                th Amount
                                                                th Time loaded
                                                        tbody
                                                            each cshload, index in CASHtrans
                                                                tr
                                                                    td #{cshload.userID}
                                                                    td #{cshload.amount}
                                                                    td #{cshload.loadedAt}
                                                                    
                                                .modal-footer
                                                    button.btn.btn-default(type='button', data-dismiss='modal') Cancel

                        script(src='/components/datatables/media/js/jquery.dataTables.js')
                            script.
                                // Initialize Datatables
                                $(document).ready(function() {
                                $('.datatable').dataTable();
                                });