extends ../layout
block title
    title Merchant summary
    
block navbar
  include baseRfid
  
block content
    .row(style='margin-top: -20px;')
        .panel.panel-default
            .panel-body
                h2.panel-title !{merchantObject.businessName}
                | !{merchantObject.standName}    
    //First row    
    .row.row-cards-pf
        // Important:  if you need to nest additional .row within a .row.row-cards-pf, do *not* use .row-cards-pf on the nested .row
        .col-xs-6.col-sm-4.col-md-3
          .card-pf.card-pf-accented.card-pf-aggregate-status
            h2.card-pf-title
              span.fa.fa-money.text-danger
              |  Gross income
            .card-pf-body
              p.card-pf-aggregate-status-notifications
                span.card-pf-aggregate-status-notification
                  | KES 30,690

        .col-xs-6.col-sm-4.col-md-3
          .card-pf.card-pf-accented.card-pf-aggregate-status
            h2.card-pf-title
              span.pficon.pficon-add-circle-o.text-danger
              |  Total purchases made
            .card-pf-body
              p.card-pf-aggregate-status-notifications
                span.card-pf-aggregate-status-notification
                  | 346
        .col-xs-6.col-sm-4.col-md-3
          .card-pf.card-pf-accented.card-pf-aggregate-status
            h2.card-pf-title
              span.fa.fa-user.text-success
              |  Average spending per user
            .card-pf-body
              p.card-pf-aggregate-status-notifications
                span.card-pf-aggregate-status-notification
                  | KES 870
                  
        .col-xs-6.col-sm-4.col-md-3
          .card-pf.card-pf-accented.card-pf-aggregate-status
            h2.card-pf-title
              span.fa.fa-users
              |  Visited customers
            .card-pf-body
              p.card-pf-aggregate-status-notifications
                span.card-pf-aggregate-status-notification
                  | 278

    
    //Second row- graph and pie chart
    .row(style='background: #FFFFFF;padding-top: 20px;')
        // Column 1 - graph
        .col-sm-8.col-md-7
          .row.row-cards-pf
            .col-md-12
              .card-pf.card-pf-utilization
                .card-pf-heading
                  p.card-pf-heading-details Last 5 hours
                  h2.card-pf-title
                    | Revenue trend
                .card-pf-body
                  .row
                    .col-xs-12.col-sm-4.col-md-12
                      #area-chart-4
                      script.
                            
                            var c3ChartDefaults = $().c3ChartDefaults();

                            var singleLineChartDataColumns = [
                            ['x', '2016-06-03 12:00:00', '2016-06-03 12:30:00', '2016-06-03 13:00:00', '2016-06-03 13:30:00', '2016-06-03 14:00:00', '2016-06-03 14:30:00'],
                            ['data1', 275, 696, 1657, 2568, 4850, 6070]
                            ];
                            

                            var singleLineChartConfig = c3ChartDefaults.getDefaultSingleLineConfig();
                            singleLineChartConfig.bindto = '#area-chart-4';
                            singleLineChartConfig.data = {
                                columns: singleLineChartDataColumns,
                                type: 'area-spline',
                                x: 'x',
                                xFormat: '%Y-%m-%d %H:%M:%S'
                            };
                            singleLineChartConfig.axis = {
                                x: {
                                    type: 'timeseries',
                                    tick: {
                                        format: '%H:%M'
                                    }
                                }
                            };
                            
                            var singleLineChart = c3.generate(singleLineChartConfig)

        // Column 2 - Pie chart of approval (Votes cast by consumers)
        .col-sm-8.col-md-5
          .row.row-cards-pf
            .col-xs-12.col-sm-6.col-md-12
              .card-pf.card-pf-utilization
                h2.card-pf-title
                    | Customer feedback
                .card-pf-body
                    p.card-pf-utilization-details
                        span.card-pf-utilization-card-details-count 210
                        span.card-pf-utilization-card-details-description
                            span.card-pf-utilization-card-details-line-1 
                            span.card-pf-utilization-card-details-line-2 people offered feedback
                    #chart-pf-donut-5
                        script.
                            var c3ChartDefaults = $().c3ChartDefaults();
                            var donutConfig = c3ChartDefaults.getDefaultDonutConfig('A');
                            donutConfig.bindto = '#chart-pf-donut-5';
                            donutConfig.color =  {
                            pattern: ["#EC7A08","#D1D1D1"]
                            };
                            donutConfig.data = {
                            type: "donut",
                            columns: [
                            ["happy", 85],
                            ["sad", 15]
                            ],
                            groups: [
                            ["Happy", "Sad"]
                            ],
                            order: null
                            };
                            donutConfig.tooltip = {
                            contents: function (d) {
                            return '<span class="donut-tooltip-pf" style="white-space: nowrap;">' +
                            Math.round(d[0].ratio * 100) + '%' + ' customers ' + d[0].name +
                            '</span>';
                            }
                            };
                            var chart1 = c3.generate(donutConfig);
                            var donutChartTitle = d3.select("#chart-pf-donut-5").select('text.c3-chart-arcs-title');
                            donutChartTitle.text("");
                            


    //Third row. - dataset will be here
    .row
            .col-xs-12.col-sm-4.col-md-12
                table.datatable.table.table-striped.table-bordered
                    thead
                        tr
                            th UID
                            th Time purchased
                            th Amount
                    tbody
                        each purchase, index in purchases
                            tr
                                td #{purchase.userID}
                                td #{purchase.purchasedAt}
                                td #{purchase.amount}
                   
                            script(src='/components/datatables/media/js/jquery.dataTables.js')
                            script.
                                // Initialize Datatables
                                $(document).ready(function() {
                                $('.datatable').dataTable();
                                });

