extends ../layout
block title
    title Merchants
    
block navbar
  include baseRfid

block content
      //Row
      .row(style='margin-top: -20px;')
        .panel.panel-default
            .panel-body
                button.btn.btn-primary(data-toggle='modal', data-target='#merchantModal', data-backdrop='static', data-trigger="createModal") Add Merchant

      // Row
      .row.row-cards-pf
        // Important:  if you need to nest additional .row within a .row.row-cards-pf, do *not* use .row-cards-pf on the nested .row
        .col-xs-12.col-sm-6.col-md-12
          each merchant, index in merchants
            // List/Panels
            .list-group.list-view-pf
              .list-group-item.list-view-pf-stacked
                .list-view-pf-actions
                  // Add the drop down caret
                .list-view-pf-main-info
                  .list-view-pf-left
                    span.fa.fa-user.list-view-pf-icon-lg
                  .list-view-pf-body
                    .list-view-pf-description
                      .list-group-item-heading
                        | #{merchant.businessName}
                        small #{merchant.phoneNumber}
                      .list-group-item-text
                        a(href='/admin/rfid/merchants/' + merchant.merchantID) View stats

                    .list-view-pf-additional-info
                      .list-view-pf-additional-info-item
                        span.fa.fa-male
                        strong 263
                        |  Sales
                      .list-view-pf-additional-info-item
                        span.fa.fa-glass
                        strong 10
                        |  Items in inventory


      #merchantModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ticketModal', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true')
                        span.pficon.pficon-close
                    h4#ticketModal.modal-title.text-center Ticket
                .modal-body
                    form
                        .form-group
                            .col-sm-12
                                label.control-label(for='ticket-name') Name:
                                input#ticket-name.form-control(type='text')
                        .form-group
                            .col-sm-6
                                label.control-label(for='ticket-price') Price:
                                input#ticket-price.form-control(type='text')
                            .col-sm-6
                                label.control-label(for='ticket-quantity') Quantity:
                                input#ticket-quantity.form-control(type='text')

                .modal-footer
                    .col-sm-12(style="padding-top: 20px")
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary(type='button') Save

