extends ../layout
block title
    title Portal summary
    
block navbar
  include baseRfid
  
block content
        .row(style='margin-top: -20px;')
            .panel.panel-default
                .panel-body
                    h2.panel-title !{portalObject.portalID}
                    |!{portalObject.lastcheckedAt}   
        // 1st row - Summary
        .row.row-cards-pf
            .col-xs-12.col-sm-4.col-md-8
                .card-pf.card-pf-utilization
                    .card-pf-body
                        p.card-pf-utilization-details
                            span.card-pf-utilization-card-details-count 2763
                            span.card-pf-utilization-card-details-description
                                span.card-pf-utilization-card-details-line-1 scans perfomed
                                span.card-pf-utilization-card-details-line-2 by 1430hrs
                        #donut-chart-4
                        script.
                            
                            var c3ChartDefaults = $().c3ChartDefaults();

                            var singleLineChartDataColumns = [
                            ['x', '2016-06-03 12:00:00', '2016-06-03 12:30:00', '2016-06-03 13:00:00', '2016-06-03 13:30:00', '2016-06-03 14:00:00', '2016-06-03 14:30:00'],
                            ['data1', 30, 80, 100, 250, 300, 550]
                            ];
                            

                            var singleLineChartConfig = c3ChartDefaults.getDefaultSingleLineConfig();
                            singleLineChartConfig.bindto = '#donut-chart-4';
                            singleLineChartConfig.data = {
                                columns: singleLineChartDataColumns,
                                type: 'area-spline',
                                x: 'x',
                                xFormat: '%Y-%m-%d %H:%M:%S'
                            };
                            singleLineChartConfig.axis = {
                                x: {
                                    type: 'timeseries',
                                    tick: {
                                        format: '%H:%M'
                                    }
                                }
                            };
                            var singleLineChart = c3.generate(singleLineChartConfig)

            .col-xs-12.col-sm-4.col-md-4
                .row
                    .container-fluid.container-cards-pf
                        .card-pf.card-pf-utilization
                            //h2.card-pf-title Portal summary:
                            .card-pf-body
                                p.card-pf-aggregate-status-notifications
                                    span.card-pf-aggregate-status-notification
                                        span.pficon.pficon-error-circle-o
                                        | Total scans
                                    span.pull-right 2763
                    
                        .card-pf.card-pf-utilization
                            .card-pf-body
                                p.card-pf-aggregate-status-notifications
                                    span.card-pf-aggregate-status-notification
                                        span.fa.fa-ban.text-success
                                        | Failed scans
                                    span.pull-right 30

                        .card-pf.card-pf-utilization
                            .card-pf-body
                                p.card-pf-aggregate-status-notifications
                                    span.card-pf-aggregate-status-notification
                                        span.fa.fa-exclamation-triangle.text-danger
                                        | Percentage error
                                    span.pull-right 5%

                        .card-pf.card-pf-utilization
                            .card-pf-body
                                p.card-pf-aggregate-status-notifications
                                    span.card-pf-aggregate-status-notification
                                        span.fa.fa-ban.text-success
                                        | Failed scans
                                    span.pull-right 30

                    
                                

                        
        // 2nd row - Dataset 
        .row(style='background: #FFFFFF;')
            .col-xs-12.col-sm-4.col-md-12
                table.datatable.table.table-striped.table-bordered
                    thead
                        tr
                            th UID
                            th Time scanned in
                            th On Site Reg(OSR)
                            th State
                            th Success
                    tbody
                        each scan, index in scans
                            tr
                                td #{scan.userID}
                                td #{scan.scannedAt}
                                td #{scan.OSR}
                                td #{scan.state}
                                td #{scan.success}
                   
                            script(src='/components/datatables/media/js/jquery.dataTables.js')
                            script.
                                // Initialize Datatables
                                $(document).ready(function() {
                                $('.datatable').dataTable();
                                });

