.nav-pf-vertical.nav-pf-vertical-with-sub-menus
    ul.list-group
        // Dashboard
        li.list-group-item(class=one?"active":"")
            a(href='/admin/event')
                span.fa.fa-dashboard
                span.list-group-item-value Dashboard
        // Tickets
        li.list-group-item.secondary-nav-item-pf(data-target='#ticket-secondary', class=six?"active":"")
            a
                span.fa.fa-bar-chart
                span.list-group-item-value Metrics
            #ticket-secondary.nav-pf-secondary-nav
                .nav-item-pf-header
                    a.secondary-collapse-toggle-pf(data-toggle='collapse-secondary-nav')
                    span Channels
                ul.list-group
                    li.list-group-item(data-target='#amet-detracto-tertiary')
                        a(href='/admin/event/metrics/email')
                            span.fa.fa-envelope
                            span.list-group-item-value Email
                    li.list-group-item(data-target='#amet-mediocrem-tertiary')
                        a(href='/admin/event/metrics/facebook')
                            span.fa.fa-facebook
                            span.list-group-item-value Facebook
        // Cash Load
        li.list-group-item(class=three?"active":"")
            a(href='/admin/event/tickets')
                span.fa.fa-ticket
                span.list-group-item-value Tickets
        // Merchants
        li.list-group-item(class=four?"active":"")
            a(href='/admin/event/orders')
                span.fa.fa-shopping-cart
                span.list-group-item-value Orders
        // Edit event
        li.list-group-item(class=four?"active":"")
            a(href='/admin/event/customise')
                span.fa.fa-pencil-square-o 
                span.list-group-item-value Customise
        // Account
        li.list-group-item(class=four?"active":"")
            a(href='/admin/event/account')
                span.fa.fa-user
                span.list-group-item-value Account
        // RFID
        li.list-group-item(class=four?"active":"")
            a(href='/admin/rfid')
                span.fa.fa-wifi
                span.list-group-item-value RFID