extends ../layout
block title
    title Account

block navbar
    include baseEvent

block content
    // Conversions row
    .row.card-pf
        .card-pf-heading
            h2.card-pf-title Account details
            h5.pull-right #{user.name.first} #{user.name.last}
        .card-pf-body
            .row
                include ./flash
                .col-xs-12.col-sm-12.col-md-12
                    form#eventForm.form.form--login(method='post')
                        h2.card-pf-title User details
                        input(type='hidden', name='_csrf', value = _csrf)
                        .form-group
                            label.control-label(for='eventName') First name
                            input#fname.form-control(type='text', name='fname', required="required", value=user.name.first)
                        .form-group
                            label.control-label(for='eventName') Last name
                            input#lname.form-control(type='text', name='lname', required="required", value=user.name.last)
                        .form-group
                            label.control-label(for='eventName') Email
                            input#email.form-control(type='text', name='email', required="required", value=user.email)
                        span &nbsp
                        h2.card-pf-title Account details
                        .form-group
                            label.control-label(for='eventName') Phone Number
                            input#phoneNumber.form-control(type='text', name='phoneNumber', required="required", value=user.phoneNumber)
                        .form-group
                            label.control-label(for='eventName') Bank account number
                            input#accNo.form-control(type='text', name='accNo', required="required", value=user.phoneNumber)
                        span &nbsp;
                        .form-group(style="border-top: 1px solid #d1d1d1; padding-top: 10px; margin-top: 10px;")
                            button.btn.btn-primary.btn-lg.pull-right(type='submit') &nbsp; UPDATE &nbsp;