#tabs.tab-content 
    #det_tab.tab-pane
        span &nbsp; 
        if !firstTime
            //Customising event details
            form#eventForm.form.form--login(method='post', enctype="multipart/form-data")
                input(type='hidden', name='_csrf', value = _csrf)
                .form-group
                    label.control-label(for='eventName') EVENT NAME:
                    input#eventName.form-control(type='text', name='eventName', required="required", value=event.eventName)
                .form-group
                    label.control-label(for='editor') DESCRIPTION:
                    #editor.form-control(required="required")
                .form-group
                    label.control-label(for='eventVenue') VENUE:
                    input#eventVenue.form-control(type='text', size='50', name='eventVenue', required="required", value=event.eventLocation)
                .form-group
                    .col-md-6
                        label.col-md-3.pull-left.control-label(for='startDate') START DATE:
                        #startDate.input-group.date
                            input.form-control.bootstrap-datepicker(type='text', readonly='', name='startDate', required="required", value=event.startDate.Date)
                            span.input-group-addon
                                span.fa.fa-calendar
                    .col-md-6
                        label.col-md-3.pull-left.control-label(for='startTime') START TIME:
                        #startTime.input-group.time-picker-pf
                            input.form-control(type='text', name='startTime', required="required", value=event.startDate.Time)
                            span.input-group-addon.btn.btn-default
                                span.fa.fa-clock-o
                span &nbsp;
                .form-group
                    .col-md-6
                        label.col-md-3.pull-left.control-label(for='endDate') END DATE:
                        #endDate.input-group.date
                            input.form-control.bootstrap-datepicker(type='text', readonly='', name='endDate', required="required", value=event.endDate.Date)
                            span.input-group-addon
                                span.fa.fa-calendar
                    .col-md-6
                        label.col-md-3.pull-left.control-label(for='endTime') END TIME:
                        #endTime.input-group.time-picker-pf
                            input.form-control(type='text', name='endTime', required="required", value=event.endDate.Time)
                            span.input-group-addon.btn.btn-default
                                span.fa.fa-clock-o
                span &nbsp;
                .form-group
                    //Image holder
                    input(type='file', name='eventPoster', id='eventPoster',accept='image/*')
                    input.form-control(type='hidden', name='pPath', value = event.posterPath)
                span &nbsp;
                .form-group(style="border-top: 1px solid #d1d1d1; padding-top: 10px; margin-top: 10px;")
                    button.btn.btn-primary.btn-lg.pull-right(type='submit') &nbsp; UPDATE &nbsp;

        else
            //Customising event details
            form.form.form--login(method='post', enctype="multipart/form-data")
                input(type='hidden', name='_csrf', value = _csrf)
                .form-group
                    label.control-label(for='eventName') EVENT NAME:
                    input#eventName.form-control(type='text', name='eventName', required="required")
                .form-group
                    label.control-label(for='editor') DESCRIPTION:
                    #editor.form-control(required="required")
                .form-group
                    label.control-label(for='eventVenue') VENUE:
                    input#eventVenue.form-control(type='text', size='50', name='eventVenue', required="required")
                .form-group
                    .col-md-6
                        label.col-md-3.pull-left.control-label(for='startDate') START DATE:
                        #startDate.input-group.date
                            input.form-control.bootstrap-datepicker(type='text', readonly='', name='startDate', required="required")
                            span.input-group-addon
                                span.fa.fa-calendar
                    .col-md-6
                        label.col-md-3.pull-left.control-label(for='startTime') START TIME:
                        #startTime.input-group.time-picker-pf
                            input.form-control(type='text', name='startTime', required="required")
                            span.input-group-addon.btn.btn-default
                                span.fa.fa-clock-o
                span &nbsp;
                .form-group
                    .col-md-6
                        label.col-md-3.pull-left.control-label(for='endDate') END DATE:
                        #endDate.input-group.date
                            input.form-control.bootstrap-datepicker(type='text', readonly='', name='endDate', required="required")
                            span.input-group-addon
                                span.fa.fa-calendar
                    .col-md-6
                        label.col-md-3.pull-left.control-label(for='endTime') END TIME:
                        #endTime.input-group.time-picker-pf
                            input.form-control(type='text', name='endTime', required="required")
                            span.input-group-addon.btn.btn-default
                                span.fa.fa-clock-o
                span &nbsp;
                .form-group
                    input(type='file', name='eventPoster', id='eventPoster',accept='image/*')
                span &nbsp;
                .form-group(style="border-top: 1px solid #d1d1d1; padding-top: 10px; margin-top: 10px;")
                    button.btn.btn-primary.btn-lg.pull-right(type='submit') &nbsp; SAVE &nbsp;



    #lt_tab.tab-pane
        span &nbsp;
        form#eventForm.form
            h3 Find below the different links to use on different platforms to track your conversions
            span &nbsp;
            span &nbsp;
            - var twLink = "http://" + host + "/events/" + event.eventaliasID + "?utm_channel=twitter";
            - var fbLink = "http://" + host + "/events/" + event.eventaliasID + "?utm_channel=facebook";
            - var igLink = "http://" + host + "/events/" + event.eventaliasID + "?utm_channel=instagram";
            - var emailLink = "http://" + host + "/events/" + event.eventaliasID + "?utm_channel=email";

            .form-group
                label.control-label(for='eventName') TWITTER:
                .input-group
                    input#twitterLink.form-control(type='text', name='twitterLink', required="required", value=twLink, readonly)
                    |  
                    a.btn.btn-success.input-group-addon.btn-copy(data-clipboard-target="#twitterLink")
                        span.fa.fa-file-text
                        | &nbsp; Copy
            .form-group
                label.control-label(for='eventName') FACEBOOK
                .input-group
                    input#fblink.form-control(type='text', name='fbLink', required="required", value=fbLink, readonly)
                    |  
                    a.btn.btn-success.input-group-addon.btn-copy(data-clipboard-target="#fblink")
                        span.fa.fa-file-text
                        | &nbsp; Copy
            .form-group
                label.control-label(for='eventName') INSTAGRAM
                .input-group
                    input#igLink.form-control(type='text', name='igLink', required="required", value=igLink, readonly)
                    |  
                    a.btn.btn-success.input-group-addon.btn-copy(data-clipboard-target="#igLink")
                        span.fa.fa-file-text
                        | &nbsp; Copy
            .form-group
                label.control-label(for='eventName') EMAIL
                .input-group
                    input#emailLink.form-control(type='text', name='emailLink', required="required", value=emailLink, readonly)
                    |  
                    a.btn.btn-success.input-group-addon.btn-copy(data-clipboard-target="#emailLink")
                        span.fa.fa-file-text
                        | &nbsp; Copy
