extends ../layout
block title
    title Events

    link(rel='stylesheet', href='/css/editor.css')
    link(rel='stylesheet', href='//noembed.com/noembed.css')
    link(rel='stylesheet', href='/css/trumbowyg.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.16/clipboard.min.js')


block navbar
    include baseEvent

block content
    // Conversions row
    .row.card-pf
        .card-pf-heading
            h2.card-pf-title Customise event
        .card-pf-body
            .row
                include ./flash
                .col-xs-12.col-sm-12.col-md-12 
                    ul.nav.nav-tabs
                        li
                            a(href='#det_tab', data-toggle='tab') Details
                        li
                            a(href='#lt_tab', data-toggle='tab') Link tracking
                        li
                            a(href='#fb_tab', data-toggle='tab') 
                        li
                            a(href='#em_tab', data-toggle='tab')
                    include customisepartial
    //Editor
    script(src='/js/trumbowyg.min.js')
    script(src='/js/trumbowyg.noembed.js')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyC479yKScYR8ClOnd3OoSSAMBSnwMel-l0&libraries=places')


    script.
        function htmlDecode(input){
            var doc = new DOMParser().parseFromString(input, "text/html");
            return doc.documentElement.textContent;
        }

        $(document).ready(function(){
            //clipboard
            new Clipboard('.btn-copy');
            //Tabs
            activeTab('det_tab');
            //Editor setup
            var isEvent = "#{event.eventName}".length > 0 ? true : false;
            if(isEvent){
                var des = htmlDecode("#{event.eventDescription}");
                $('#editor').trumbowyg('html', des);
                //Change action to update
                 $('#eventForm').attr('action', "/admin/event/customise/");
            } else{
                $('#editor').trumbowyg();
            }   
        });

        $(document).on("keypress", ":input:not(textarea)", function(event) {
            return event.keyCode != 13;
        });

        $('#editor').trumbowyg({
            btnsDef: {
                    // Create a new dropdown
                    link: {
                        dropdown: ['createLink', 'unlink'],
                        ico: 'link'
                    }
                },
            btns: ['strong', 'em', '|', 'link',  'noembed',  'viewHTML', 'fullscreen'],
            autogrow: true,
            svgPath: '/assets/icons.svg'
        });
        function activeTab(tab){
            $('.nav-tabs a[href="#' + tab + '"]').tab('show');
        };

        
        function initialize() {
            var input = document.getElementById('eventVenue');
            var autocomplete = new google.maps.places.Autocomplete(input);
        }

        google.maps.event.addDomListener(window, 'load', initialize);

        $('#startDate').datepicker({
            autoclose: true,
            orientation: "top auto",
            todayBtn: "linked",
            todayHighlight: true,
            format: "dd/mm/yyyy"
        });

        $('#endDate').datepicker({
            autoclose: true,
            orientation: "top auto",
            todayBtn: "linked",
            todayHighlight: true,
            format: "dd/mm/yyyy"
        });

        $(function () {
            $('#startTime').datetimepicker({
            format: 'LT',
            keyBinds: {
                enter: function () {
                $('#startTime').find('input').trigger('change');
                this.hide();
                }
            }
            });
           // $('#startTime').data('DateTimePicker').clear();
        });

        $(function () {
            $('#endTime').datetimepicker({
            format: 'LT',
            keyBinds: {
                enter: function () {
                $('#endTime').find('input').trigger('change');
                this.hide();
                }
            }
            });
           // $('#endTime').data('DateTimePicker').clear();
        });

