extends ../layout
block title
  title Tixi: Burning Man Festival Dashboard

mixin drawSparkline(spdata,unshift,chartName)
  script.
    var data = [#{spdata}];
    data.unshift("#{unshift}");
    var c3ChartDefaults = $().c3ChartDefaults();
    var sparklineConfig = c3ChartDefaults.getDefaultSparklineConfig();
    sparklineConfig.bindto = "#{chartName}";
    sparklineConfig.data = {
    columns: [data],
    type: 'area'
    };
    var chart2 = c3.generate(sparklineConfig);



mixin donutDrawer(chartData,chartTitle, inputName, caption)
  input(type='hidden', id = inputName, value = chartData)
  script.
    console.log('here')
    var coldata = JSON.parse($( "#" + "#{inputName}" ).val())
    var chartcolrs = {};
    var cols = ["#0088ce","#ec7a08","#703fec","#cc0000","#3f9c35"] //blue,green, orange, purple, red
    //obj["key3"] = "value3";
    for(i = 0; i < coldata.length; i++){
      var t = coldata[i];
      chartcolrs[t[0]] = cols[i]
    }
    var c3ChartDefaults = $().c3ChartDefaults(); 
    var donutData = { 
      type : 'donut', 
      colors: chartcolrs, 
        //columns: [["VIP", 296],["GATE", 378 ]]
        columns: coldata
    }

    // Donut Chart Bottom Legend 
    var donutChartBottomConfig = c3ChartDefaults.getDefaultDonutConfig(); 
    donutChartBottomConfig.bindto = '#donut-chart-type'; 
    donutChartBottomConfig.tooltip = {show: true}; 
    donutChartBottomConfig.data = donutData; 
    donutChartBottomConfig.legend = { show: true, position: 'bottom' };
    donutChartBottomConfig.size = { width: 300, height: 300 }; 
    donutChartBottomConfig.tooltip = { contents: $().pfDonutTooltipContents }; 
    var donutChartBottomLegend = c3.generate(donutChartBottomConfig); 
    $().pfSetDonutChartTitle("#donut-chart-type", #{chartTitle}, "#{caption}");

mixin chartDrawer(chartName,colr,data, ylabel)
  script.
    var stats = [#{data}];
    stats.unshift('data1');
    var c3ChartDefaults = $().c3ChartDefaults();
    var emColumn = [stats];
    var singleLineChartConfig = c3ChartDefaults.getDefaultSingleLineConfig();
    singleLineChartConfig.bindto = "#{chartName}";
    var max = Math.max.apply(Math, [#{data}]) * 1.5;
    var f = Math.ceil(max/5)*5;
    singleLineChartConfig.axis = {
      y: {
        max: f,
        min: 0,
        padding: {top: 0, bottom: 0},
        tick: {
          count: 5
        },
        label: {
          text: "#{ylabel}",
          position: 'outer-middle'}
      }
    }
    singleLineChartConfig.data = {  
    columns: emColumn,
    type: 'area'
    };
    singleLineChartConfig.color = {
      pattern: ["#{colr}"]
    };
    var singleLineChart = c3.generate(singleLineChartConfig);

block navbar
  include baseEvent

block content
  - var eventlink = "http://" + host + "/events/" + eventaliasID;
  .row(style='margin-top: -20px;')
    .panel
      .panel-body
        .col-xs-12.col-sm-12.col-md-6
        .col-xs-12.col-sm-12.col-md-6
          a.pull-right(href=eventlink, target="_blank")
            span.fa.fa-external-link.fa-2x
            | &nbsp
            | Open event page

  .row
    .row-cards-pf
      .col-xs-12.col-sm-12.col-md-4
        .card-pf.card-pf
          h2.card-pf-title  Ticket sold 
          .card-pf-body
            .row
              .col-xs-12.col-sm-12.col-md-5
                .card-pf-utilization-details(style="border: none;")
                  span.card-pf-utilization-card-details-count #{totalTickets}
              .col-xs-12.col-sm-12.col-md-7
                #chart-pf-sparkline-ticketsSold.chart-pf-sparkline
                if weeklyTickets != undefined
                  +drawSparkline(weeklyTickets,'ticket(s)','#chart-pf-sparkline-ticketsSold')
                else
                  span No tickets have been sold
          .card-pf-footer
            p
              a.card-pf-link-with-icon(href='/admin/event/orders')
                span.pficon.pficon-add-circle-o
                |  Tickets

      .col-xs-12.col-sm-12.col-md-4
        .card-pf
          h2.card-pf-title  Page views
          .card-pf-body
            .row
              .col-xs-12.col-sm-12.col-md-5
                .card-pf-utilization-details(style="border: none;")
                  span.card-pf-utilization-card-details-count #{totalPageViews}
              .col-xs-12.col-sm-12.col-md-7
                #chart-pf-sparkline-pageViews.chart-pf-sparkline
                if pageViews != undefined
                  +drawSparkline(pageViews,'view(s)','#chart-pf-sparkline-pageViews')
                else
                  span Event page has not been viewed
          .card-pf-footer
            p
              span.card-pf-utilization-card-details-description
                span.card-pf-utilization-card-details-line-1(style="margin-botton: 0;") &nbsp;
                |  
                span.card-pf-utilization-card-details-line-2
                  span.card-pf-item-text 6.5%
                  |  
                  span.card-pf-item-text &nbsp;
                  |  
                  pf.pficon-trend-up(style="color: green;")


      .col-xs-12.col-sm-12.col-md-4
        .card-pf
          h2.card-pf-title  Total Sales (KES)
          .card-pf-body
            .row
              .col-xs-12.col-sm-12.col-md-5
                .card-pf-utilization-details(style="border: none;")
                  span.card-pf-utilization-card-details-count #{orderSalesTotal}
              .col-xs-12.col-sm-12.col-md-7
                #chart-pf-sparkline-sales.chart-pf-sparkline
                if weeklyOrders != undefined
                  +drawSparkline(weeklyOrders,'KES','#chart-pf-sparkline-sales')
                else
                  span No sales have been made
          .card-pf-footer
            p
              span.card-pf-utilization-card-details-description
                span.card-pf-utilization-card-details-line-1(style="margin-botton: 0;") &nbsp;
                |  
                span.card-pf-utilization-card-details-line-2
                  span.card-pf-item-text 2.1%
                  |  
                  span.card-pf-item-text &nbsp;
                  |  
                  pf.pficon-trend-down(style="color: red;")


  // Conversions row
  .row.card-pf
    .card-pf-heading
      h2.card-pf-title Weekly insights
    .card-pf-body
      .row
        .col-xs-12.col-sm-12.col-md-12 
          ul.nav.nav-tabs
            li
              a(href='#tsold_tab', data-toggle='tab') Tickets Sold
            li
              a(href='#tsales_tab', data-toggle='tab') Ticket sales
            li
              a(href='#tw_tab', data-toggle='tab') Twitter
            li
              a(href='#fb_tab', data-toggle='tab') Facebook
            li
              a(href='#ig_tab', data-toggle='tab') Instagram
            li
              a(href='#em_tab', data-toggle='tab') Email
          #tabs.tab-content
            #tsold_tab.tab-pane
              span &nbsp; 
              #donut-chart-tsold.line-chart-pf
              if weeklyTickets == undefined
                //Zero array
                +chartDrawer('#donut-chart-tsold', "#582fc0",  [0,0,0,0,0,0,0], 'Tickets sold')
              else
                +chartDrawer('#donut-chart-tsold', "#582fc0", weeklyTickets, 'Tickets sold')
            #tsales_tab.tab-pane
              span &nbsp;
              #donut-chart-tsales.line-chart-pf
              if weeklyOrders == undefined
                //Zero array
                +chartDrawer('#donut-chart-tsales', "#582fc0",  [0,0,0,0,0,0,0], 'KES')
              else
                +chartDrawer('#donut-chart-tsales', "#582fc0", weeklyOrders, 'KES')
            #tw_tab.tab-pane 
              span &nbsp;
              #donut-chart-tw.line-chart-pf
              if groupedWeeklyChannelReferrals.twitter == undefined
                //Zero array
                +chartDrawer('#donut-chart-tw', "#b35c00",  [0,0,0,0,0,0,0], 'Conversions')
              else
                +chartDrawer('#donut-chart-tw', "#b35c00", groupedWeeklyChannelReferrals.twitter.weekStats, 'Conversions')
            #fb_tab.tab-pane 
              span &nbsp;
              #donut-chart-fb.line-chart-pf
              if groupedWeeklyChannelReferrals.facebook == undefined
                //Zero array
                +chartDrawer('#donut-chart-fb', "#b35c00",  [0,0,0,0,0,0,0], 'Conversions')
              else
                +chartDrawer('#donut-chart-fb', "#b35c00", groupedWeeklyChannelReferrals.facebook.weekStats, 'Conversions')
            #ig_tab.tab-pane 
              span &nbsp;
              #donut-chart-ig.line-chart-pf
              if groupedWeeklyChannelReferrals.instagram == undefined
                //Zero array
                +chartDrawer('#donut-chart-ig', "#b35c00",  [0,0,0,0,0,0,0], 'Conversions')
              else
                +chartDrawer('#donut-chart-ig', "#b35c00", groupedWeeklyChannelReferrals.instagram.weekStats, 'Conversions')
            #em_tab.tab-pane
              span &nbsp; 
              #donut-chart-em.line-chart-pf
              if groupedWeeklyChannelReferrals.email == undefined
                //Zero array
                +chartDrawer('#donut-chart-em', "#b35c00",  [0,0,0,0,0,0,0], 'Conversions')
              else
                +chartDrawer('#donut-chart-em', "#b35c00", groupedWeeklyChannelReferrals.email.weekStats, 'Conversions')

  //ROW - Sales by channel
  .row.row-cards-pf
    .col-xs-12.col-sm-12.col-md-7
      .card-pf
        .card-pf-heading
          h2.card-pf-title  Conversions by channel
        .card-pf-body
          if groupedChannelConversions == undefined
            h4 No orders have been made so far.
          else
            each val,index in groupedChannelConversions
              - var perc = Math.floor((val.count/totalOrdersMade)* 100);
              - var chan = (val.channel).charAt(0).toUpperCase() + (val.channel).slice(1);
              .progress-description  #{chan}
              .progress.progress-label-top-right
                .progress-bar.progress-bar-ok(role='progressbar', title= val.count + " order(s)", aria-valuenow='95', aria-valuemin='0', aria-valuemax='100', style='width:' + perc +'%;')
                  span
                    strong #{perc} %
                .progress-bar.progress-bar-remaining(role='progressbar', title= totalOrdersMade + " total orders made", aria-valuenow='5', aria-valuemin='0', aria-valuemax='100', style='width:' + (100 - perc) +'%;')
            else
              span No orders have been made yet



    //Recent orders
    .col-xs-12.col-sm-12.col-md-5
      .card-pf
        .card-pf-heading
          h2.card-pf-title  Recent orders
        .card-pf-body
          table.flat-table.flat-table-1
            thead
              th 
              th Order Number
              th Tickets
              th Amount (KES)
            tbody
              if lastFiveOrders != undefined
                each order, indx in lastFiveOrders
                  -var index = indx + 1
                  tr
                    td #{index}
                    td #{order.orderNumber}
                    td #{order.ticketsNum}
                    td #{order.orderTotal}
                else
                  tr
                    td(colspan='4') No orders have been made
              else
                tr
                  td(colspan='4') No orders have been made

  .row.row-cards-pf
    //Ticket type
    .col-xs-12.col-sm-12.col-md-6
      .card-pf.card-pf-utilization(style='')
        h2.card-pf-title(style='')  Tickets sold by type
        .card-pf-body(style='text-align: center')
          #donut-chart-type.example-donut-chart-bottom-legend
          //-+donutDrawer(ticketsByType)
          //-[["VIP",6],["GATE",25],["Early Bird",1]]
          if ticketsByType != undefined
            +donutDrawer(ticketsByType,totalTickets, "tickets", "tickets")
          else
            //- Write that no tickets were bought
            h4 No tickets have been bought


          //-+donutDrawer(chartData,chartTitle, inputName)
          //Remaining vs sold
    .col-xs-12.col-sm-12.col-md-6
      .card-pf.card-pf-utilization(style='')
        h2.card-pf-title(style='')  Sold vs remaining tickets
        .card-pf-body(style='text-align: center')
          #donut-chart-rem.example-donut-chart-bottom-legend
          script.
            var c3ChartDefaults = $().c3ChartDefaults(); 
            var donutData = { 
              type : 'donut', 
              colors: { 
                Remaining: $.pfPaletteColors.blue, 
                Sold: $.pfPaletteColors.green
                }, 
                columns: [['Sold', 1560],['Remaining', 2440]]
            }

            // Donut Chart Bottom Legend 
            var donutChartBottomConfig = c3ChartDefaults.getDefaultDonutConfig(); 
            donutChartBottomConfig.bindto = '#donut-chart-rem'; 
            donutChartBottomConfig.tooltip = {show: true}; 
            donutChartBottomConfig.data = donutData; 
            donutChartBottomConfig.legend = { show: true, position: 'bottom' };
            donutChartBottomConfig.size = { width: 300, height: 300 }; 
            donutChartBottomConfig.tooltip = { contents: $().pfDonutTooltipContents }; 
            var donutChartBottomLegend = c3.generate(donutChartBottomConfig); 
            $().pfSetDonutChartTitle("#donut-chart-rem", "", "Sold vs Remaining");







  script.
    $(document).ready(function(){
      activaTab('tsold_tab');
    });

    function activaTab(tab){
      $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };
