doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title #{event.eventName} 
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', integrity='sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ', crossorigin='anonymous')
        link(rel='stylesheet', href='css/magnific-popup.css')
        link(rel='stylesheet', href='css/intlTelInput.css')
        link(rel='stylesheet', href='css/event2.css')
    body
        #side
            #overlay
                a#btn-overlay.btn-pill.image-popup-vertical-fit(href=event.posterPath)
                    | Poster
        #body
            .row.div1
                .row.event-details
                    h2.event-name #{event.eventName} 
                        span .
                    br
                    h3.event-venue(class='class=', mt-3='') #{event.eventLocation}
                    p.mt-3.event-date  #{longDate}
                    p.mt-3.event-date  #{event.startDate.Time} - #{event.endDate.Time}
                    br
                    a#btn-buy.btn-pill(href='#tickets') Buy Tickets
            .row.div2
                .row.text-div
                    .text-center
                        h2.section-header Description
                    .desc
                        | !{event.eventDescription}

            .row.div3
                #tickets.row.text-div
                    .text-center(style='margin-bottom: 2em;')
                        h2.section-header Tickets
                    each ticket, index in tickets
                        .ticketRow.row.col-md-12.col-sm-12.col-xs-12
                            span.hide.ticket-type-id #{ticket.ticketTypeID}
                            span.hide.type-total
                            .col-md-8.col-sm-8.col-xs-8
                                h2.ticket-type #{ticket.name}
                                h3
                                    | KES 
                                    span.ticket-price #{ticket.price}
                            .col-md-4(style='text-align: right;')
                                select#sel1.sel(style='width: 3em;')
                                    option(selected='', value='0') 0
                                    option(value='1') 1
                                    option(value='2') 2
                                    option(value='3') 3
                                    option(value='4') 4
                                    option(value='5') 5
                                    option(value='6') 6
                                    option(value='7') 7
                                    option(value='8') 8
                                    option(value='9') 9
                    .total-cost.mt-4.col-md-12
                        h2#total-cost.text-right
                            span 
                            |  KES 0
                        .text-right.mt-5
                            a.btn-pill.text-right#btn-toggle-buy.hide(href='' data-toggle='modal', data-target='#payModal') 
                                | Pay

    #payModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    ul.nav.nav-tabs(role='tablist')
                        li.nav-item
                            a.nav-link.active(href='#mobile', role='tab', data-toggle='tab') MPESA
                        li.nav-item
                            a.nav-link(href='#card', role='tab', data-toggle='tab') CARD
                    // Tab panes
                    .tab-content
                        #mobile.tab-pane.fade.in.active.show(role='tabpanel') 
                            form.mt-4.mobile-payment-form
                                .form-group.row
                                    .col-md-7
                                        input#exampleInputEmail1.form-control(type='text', aria-describedby='emailHelp', placeholder='Full Name')
                                        small#emailHelp.form-text.text-muted This will appear on your ticket
                                    .col-md-5
                                        input#phoneNumberMobile.form-control(name='phone', type='tel')
                                .form-group
                                    input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Email address')
                                    small#emailHelp.form-text.text-muted We'll send your tickets to this email.
                                button.btn.btn-pill.btn-pay(type='submit') Complete Payment


                        #card.tab-pane.fade(role='tabpanel') 
                            form#card-payment-form.mt-4(novalidate='', method='POST')
                                .form-group.row
                                        .col-md-7
                                            input#exampleInputEmail1.form-control(type='text', name="name", placeholder='Full Name')
                                            small#emailHelp.form-text.text-muted This will appear on your ticket
                                        .col-md-5
                                            input#phoneNumberCard.form-control(name='phone', type='tel')
                                .form-group
                                    input#exampleInputEmail1.form-control(type='email', name="email", aria-describedby='emailHelp', placeholder='Email address')
                                    small#emailHelp.form-text.text-muted We'll send your tickets to this email.
                                //Card details
                                .form-group
                                    input#cc-number.form-control.cc-number(type='tel', name='cno', autocomplete='cc-number', placeholder='Card number', required='')
                                    label.form-control-feedback.hide(for='cc-number') Invalid card number  
                                .row
                                    .col-md-6
                                        .form-group                                   
                                            input#cc-exp.form-control.cc-exp(type='tel', name='exp', autocomplete='cc-exp', placeholder='MM / YYYY', required='')
                                            label.form-control-feedback.hide(for='cc-exp') Invalid expiry date
                                    .col-md-6
                                        .form-group                                            
                                            input#cc-cvc.form-control.cc-cvc(type='tel', name='cvc', autocomplete='off', placeholder='CVC', required='')
                                            label.form-control-feedback.hide(for='cc-cvc') Invalid CVC number
                                button.btn.btn-pill.btn-pay(type='submit') Complete Payment
                                



        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
        script(src='./js/jquery.magnific-popup.min.js')
        script(src='./js/event2.js')
        script(src='js/jquery.payment.js')
        script(src='js/intlTelInput.min.js')
        script.
            document.getElementById("side").style.backgroundImage = "url('#{event.posterPath}')";


