doctype html
html
  head
    meta(charset='UTF-8')
    title Login
    link(rel='stylesheet', href='css/loginstyle.css')
  body
    body.align
      .overlay
      .site__container
        .grid__container
          if firstTime
            p.text--center
              span.fa.fa-plus(style='color: #eee;')
              | &nbsp;
              a(href='/admin/event/customise?first=true') Create new event            
          else
            h1 Choose event
            each event in events
              #button
                ul
                  li
                    a(href='/admin/event/delete/' + event.eventaliasID)
                      span.fa.fa-trash(style="float: right;margin-top: 10px;")
                    a(href='/admin/event/select/' + event.eventaliasID) #{event.eventName}
            p.text--center
              span.fa.fa-plus(style='color: #eee;')
              | &nbsp;
              a(href='/admin/event/customise/first') Create new event
