
doctype html

head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	title Ticket details
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')
	link(href='https://fonts.googleapis.com/css?family=Lato:300,400', rel='stylesheet')
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
	// Animate.css
	link(rel='stylesheet', href='css/animate.css')
	// Themify Icons
	link(rel='stylesheet', href='css/themify-icons.css')
	// Bootstrap
	link(rel='stylesheet', href='css/bootstrap.css')
	// Magnific Popup
	link(rel='stylesheet', href='css/magnific-popup.css')
	// Theme style
	link(rel='stylesheet', href='css/ticketpagestyle.css')
	// Modernizr JS
	script(src='js/modernizr-2.6.2.min.js')
	// FOR IE9 below
	//if lt IE 9
		script(src='js/respond.min.js')
#page
	- var imgUrl = 'uploads/posters/' + event.posterPath ;
	header#gtco-header.gtco-cover.gtco-cover-xs(role='banner', style='background-image:url(' + imgUrl + '); background-color: green;  background-blend-mode: multiply;')
		//.overlay
		.gtco-container
			.row
				.col-md-12.col-sm-12.header-row
					.clearfix
					.col-md-6.mid-right
						.cartoon
							ul
								li
									.ti-timer.card-icon
									span #{event.startDate.Time} - #{event.endDate.Time}
								li
									.ti-calendar.card-icon
									span#evDay
								.clearfix
						.vladimir
							h3
								| #{event.eventName} 
								span.glyphicon.glyphicon-heart-empty(aria-hidden='true')
							.vladimir-list
								ul
									li
										span.ti-location-pin(aria-hidden='true')
										| #{event.eventLocation}
							a.poster-btn.image-popup-vertical-fit(href=imgUrl)
								| see poster
					.clearfix
	#gtco-history.gtco-section.border-bottom.animate-box
		.gtco-container
			.row.row-pb-md
				.col-md-12
					
					.row.vdivide
						.col-md-8.col-xs-12.event-heading
							.row.gtco-event-heading
								.pull-left.event-header
									h3
										span.ti-write
										|  EVENT DETAILS
							.event-details
								.div !{event.eventDescription}

						.col-md-4.col-xs-12.ticket-details
							.row.gtco-event-heading
								.pull-left.event-header
									h3
										span.ti-ticket
										|  BUY TICKETS
							.row.price-list
								each ticket, index in tickets
									.ticket-item
										.col-md-9.col-sm-9.col-xs-9.ticket-name
											p
												| KES #{ticket.price}
												span.ticket-type #{ticket.name}
												span.ticket-price(style='display: none;') #{ticket.price}
										.col-md-3.col-sm-3.col-xs-3
											span.input-group-btn.dropdown-tickets
												select#sel1.btn.btn-default.button-one.sel
													option(selected='', value='0') 0
													option(value='1') 1
													option(value='2') 2
													option(value='3') 3
													option(value='4') 4
													option(value='5') 5
													option(value='6') 6
													option(value='7') 7
													option(value='8') 8
													option(value='9') 9
										.type-total(style='display: none;')
										.type-count(style='display: none;')

							.total-item
								.col-md-6.col-sm-6.col-xs-6
									p
										| TOTAL: 
								.col-md-6.col-sm-6.col-xs-6
									p#total-cost
										| KES 0
							
							a#pay-btn.pay-btn.hide(data-toggle='modal', data-target='#payment-modal') pay
	#gtco-subscribe
		.gtco-container
			.row.animate-box
				.col-md-8.col-md-offset-2.text-center.gtco-heading
					//- h2
					//- 	span
					//- 		img(src="images/logo-white.png" alt="Tixi" width="250")
					p POWERED BY TIXI
			.row.animate-box
				.col-md-12.text-center.help-footer
					p
						| If stuck or having trouble purchasing tickets, kindly call us on 
						em 0780908908
						|  or email us at 
						em help@tixi.com
			// <img class="mpesa" src="images/mpesa.svg" alt="MPESA"> span.ti-html5(style='font-size: 5em;')
.gototop.js-top
	a.js-gotop(href='#')
		i.ti-angle-up
// jQuery
script(src='js/jquery.min.js')
// jQuery Easing
script(src='js/jquery.easing.1.3.js')
// Bootstrap
script(src='js/bootstrap.min.js')
// Waypoints
script(src='js/jquery.waypoints.min.js')
// Carousel
script(src='js/owl.carousel.min.js')
// countTo
script(src='js/jquery.countTo.js')
// Magnific Popup
script(src='js/jquery.magnific-popup.min.js')
script(src='js/magnific-popup-options.js')
// Validator
script(src='js/jquery.payment.js')
// Main
script(src='js/ticketpage.js')
script(src='js/moment.min.js')

script.
	moment().format();
	var evDay = moment("#{event.startDate.Date}", "DD-MM-YYYY").format('LL');
	$('#evDay').text(evDay);

	$('#payment-modal').on('hidden.bs.modal', '.modal', function () {
		$(this).removeData('bs.modal');
	});

// Modal
#payment-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', data-backdrop='static')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') &times;
				h4#payment-modal-title.modal-title.text-center
			.modal-body
				//- .spinner-center
				//- 	i.fa.fa-spinner.fa-spin.fa-4x.fa-fw
				ul.nav.nav-tabs
					li.active
						a(href='#mpesa', data-toggle='tab')
							// <span class="ti-cloud" style="font-size: 2em;"></span>
							| MPESA
					li
						a(href='#card', data-toggle='tab')
							// <span class="ti-credit-card" style="font-size: 2em;"></span>
							| CARD
				// Tab panes
				.tab-content
					#mpesa.tab-pane.active
						form#mpesa-payment-form(novalidate='',method='POST')
							input(type='hidden', name='_csrf', value=_csrf)
							.row
								.form-group
									// SPACER
								span.payment-errors
								.col-md-6
									.form-group
										input#userName.form-control(name='name', type='text', placeholder='Name')
								.col-md-6
									.form-group
										input#phoneNumber.form-control(name='phone', type='text', placeholder='Phone number')
							.form-group
								input#email.form-control(name='email', type='email', placeholder='Email')
							button.btn.btn-primary.btn-modal.submit(type='submit') COMPLETE PAYMENT
					#card.tab-pane
						form#card-payment-form(novalidate='', method='POST')
							input(type='hidden', name='_csrf', value=_csrf)
							.row
								.form-group
									// SPACER
								span.payment-errors
								.col-md-6
									.form-group
										input#userName.form-control(name='name', type='text', placeholder='Name')
								.col-md-6
									.form-group
										input#phoneNumber.form-control(name='phone', type='text', placeholder='Phone number')
							.form-group
								input#email.form-control(name='email', type='email', placeholder='Email')
							.form-group
								label.control-label.vanish(for='cc-number') Invalid card number
								input#cc-number.form-control.cc-number(type='tel', name='cno', autocomplete='cc-number', placeholder='Card number', required='')
							.row
								.col-md-6
									.form-group
										label.control-label.vanish(for='cc-exp') Invalid expiry date
										input#cc-exp.form-control.cc-exp(type='tel', name='exp', autocomplete='cc-exp', placeholder='MM / YYYY', required='')
								.col-md-6
									.form-group
										label.control-label.vanish(for='cc-cvc') Invalid CVC number
										input#cc-cvc.form-control.cc-cvc(type='tel', name='cvc', autocomplete='off', placeholder='CVC', required='')
									input(type='hidden', name='eventID', value='EV-BMAN-068')
							button.btn.btn-primary.btn-modal.submit(type='submit') COMPLETE PAYMENT



//- .row.event-ticket-table
//- 								table#tickets.flat-table.flat-table-1
//- 									thead
//- 										th Ticket Type
//- 										th Price(KES)
//- 										th Quantity
//- 									tbody
//- 										each ticket, index in tickets
//- 											tr.ticket
//- 												td.ticket-type #{ticket.name}
//- 												td.ticket-price #{ticket.price}
//- 												td
//- 													span.input-group-btn.dropdown-tickets
//- 														select#sel1.btn.btn-default.button-one.sel
//- 															option(selected='', value='0') 0
//- 															option(value='1') 1
//- 															option(value='2') 2
//- 															option(value='3') 3
//- 															option(value='4') 4
//- 															option(value='5') 5
//- 															option(value='6') 6
//- 															option(value='7') 7
//- 															option(value='8') 8
//- 															option(value='9') 9
//- 												td.type-total(style='display: none;')

//- 									thead
//- 										th(colspan='2') TOTAL
//- 										th#total-cost