doctype html
//if lt IE 7
    html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
    html.no-js.lt-ie9.lt-ie8  
//if IE 8
    html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
    // <![endif]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title #{event.eventName} Tickets.
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Free HTML5 Template by FREEHTML5.CO')
        meta(name='keywords', content='free html5, free template, free bootstrap, html5, css3, mobile first, responsive')
        //- link(rel='shortcut icon', href='favicon.ico')
        link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Poppins:600,700', rel='stylesheet')
        link(rel='stylesheet', href='css/animate.min.css')
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/flexslider.min.css')
        link(rel='stylesheet', href='css/eventpagestyle.min.css')
        link(rel='stylesheet', href='css/intlTelInput.css')
        link(rel='stylesheet', href='css/magnific-popup.min.css')
        //if lt IE 9
            script(src='js/respond.min.js')
    body
        #fh5co-page
            - var imgUrl = 'uploads/posters/' + event.posterPath
            aside#fh5co-hero.js-fullheight
                .flexslider.js-fullheight
                    ul.slides
                        li(style='background-image: url(' + imgUrl + ');')
                            .overlay-gradient
                            .container
                                .col-md-4.logo(style='z-index: 9; width: 250px;margin-top: 30px;')
                                    a(href='/')
                                        img.logo(src='images/logo.png', alt='tixi')
                                .col-md-8.col-md-offset-2.col-md-push-4.js-fullheight.slider-text
                                    .slider-text-inner
                                        .desc
                                            h2 #{event.eventName} 
                                            h3(style='color: #fff; letter-spacing: 0.05em;') #{event.eventLocation}
                                            |  
                                            span #{longDate}
                                            |  
                                            span #{event.startDate.Time} - #{event.endDate.Time}
                                            |  
                                            a.btn.btn-sm.btn-poster.image-popup-vertical-fit(href=imgUrl) POSTER
            .horizontalDivider
            #fh5co-about
                .container(style='padding-top: 3em;')
                    .row
                        .col-md-3.text-center.section-header
                            h2 Description
                        .col-md-1
                            .verticalDivider
                        .col-md-8
                            .div !{event.eventDescription}
            .horizontalDivider
            #fh5co-about
                .container(style='padding-top: 3em;')
                    .row
                        .col-md-3.text-center.section-header
                            h2 Tickets
                        .col-md-1
                            .verticalDivider
                        .col-md-8.col-sm-12.tickets
                            each ticket, index in tickets
                                .ticketRow.col-md-12.col-sm-12.col-xs-12
                                    .col-md-7.col-sm-7.col-xs-7
                                        h2.ticket-type #{ticket.name}
                                        h3
                                            | KES 
                                            span.ticket-price #{ticket.price}
                                        .type-total.hide
                                    .col-md-2.col-md-offset-2.col-sm-2.col-sm-offset-2.col-xs-2.col-xs-offset-2
                                        if ticket.haltSales == true
                                            .sold-out
                                                h3 SOLD OUT
                                        else
                                            select#sel1.sel(style='width: 3em;')
                                                option(selected='', value='0') 0
                                                option(value='1') 1
                                                option(value='2') 2
                                                option(value='3') 3
                                                option(value='4') 4
                                                option(value='5') 5
                                                option(value='6') 6
                                                option(value='7') 7
                                                option(value='8') 8
                                                option(value='9') 9
                            if tickets.length > 0                         
                                .col-md-12.col-sm-12.col-xs-12.ticket-total
                                    h3
                                        | TOTAL: KES 
                                        span#total-cost 0
                                |  
                                a#pay-btn.btn.btn-lg.pay-btn.hide(data-toggle='modal', data-target='#payment-modal') Buy tickets
            footer
                #footer
                    .container
                        .row.copy-right
                            .col-md-12.text-center
                                p
                                    strong POWERED BY TIXI
                                p
                                    | If stuck or having trouble purchasing tickets, kindly call us on 
                                    em 0710460468
                                    |  or email us at 
                                    em help@tixi.com

        script(src='js/jquery.min.js')
        script(src='js/jquery.easing.1.3.js')
        script(src='js/bootstrap.min.js')
        script(src='js/jquery.waypoints.min.js')
        script(src='js/jquery.countTo.js')
        script(src='js/jquery.flexslider-min.js')
        script(src='js/eventpage.js')
        script(src='js/jquery.magnific-popup.min.js')
        script(src='js/magnific-popup-options.js')
        script(src='js/jquery.payment.js')
        script(src='js/intlTelInput.min.js')



        #payment-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', data-backdrop='static')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                        h4#payment-modal-title.modal-title.text-center
                    .modal-body
                        ul.nav.nav-tabs
                            li.active
                                a(href='#mpesa', data-toggle='tab') MPESA
                            li
                                a(href='#card', data-toggle='tab') CARD
                        .tab-content
                            #mpesa.tab-pane.active
                                form#mpesa-payment-form(novalidate='', method='POST')
                                    input(type='hidden', name='_csrf', value=_csrf)
                                    .row
                                        .form-group
                                        span.payment-errors
                                        .col-md-6
                                            .form-group
                                                input#userName.form-control(name='name', type='text', placeholder='Name')
                                        .col-md-6
                                            .form-group
                                                input#phoneNumberMobile.form-control.phoneNumber(name='phone', type='tel', placeholder='Phone number')
                                    .form-group
                                        input#email.form-control(name='email', type='email', placeholder='Email')
                                    |  
                                    button.btn.btn-primary.btn-modal.submit(type='submit') COMPLETE PAYMENT
                            #card.tab-pane
                                form#card-payment-form(novalidate='', method='POST')
                                    input(type='hidden', name='_csrf', value=_csrf)
                                    .row
                                        .form-group
                                        span.payment-errors
                                        .col-md-6
                                            .form-group
                                                input#userName.form-control(name='name', type='text', placeholder='Name')
                                        .col-md-6
                                            .form-group
                                                input#phoneNumberCard.phoneNumber.form-control(name='phone', type='tel')
                                    .form-group
                                        input#email.form-control(name='email', type='email', placeholder='Email')
                                    .form-group
                                        label.control-label.hide(for='cc-number') Invalid card number
                                        |  
                                        input#cc-number.form-control.cc-number(type='tel', name='cno', autocomplete='cc-number', placeholder='Card number', required='')
                                    .row
                                        .col-md-6
                                            .form-group
                                                label.control-label.hide(for='cc-exp') Invalid expiry date
                                                |  
                                                input#cc-exp.form-control.cc-exp(type='tel', name='exp', autocomplete='cc-exp', placeholder='MM / YYYY', required='')
                                        .col-md-6
                                            .form-group
                                                label.control-label.hide(for='cc-cvc') Invalid CVC number
                                                |  
                                                input#cc-cvc.form-control.cc-cvc(type='tel', name='cvc', autocomplete='off', placeholder='CVC', required='')
                                    |  
                                    button.btn.btn-primary.btn-modal.submit(type='submit') COMPLETE PAYMENT

            