extends ../layout
block title
    title Tixi Local Event Server

block navbar
    include baseEvent

block content
    extends ../layout
block title
    title Tixi Local Event Server

block navbar
    include baseEvent

block content

    .blank-slate-pf(id='')
        .blank-slate-pf-icon
            span.pficon.pficon.pficon-home
        h1
            p
                | Welcome to Tixi! 
        h3
            p
    
        p   
            span 1. Click 
            a(href='#') here 
            | to create yout first event. To make any changes to it, you could always click "customise" to the left of your screen. 
            br
            span 2. Click 
            a(href='#') here 
            | to create yout first event. To make any changes to it, you could always click "customise" to the left of your screen. Welcome to Tixi! consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labor
        p
            | Welcome to Tixi! consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            | Learn more about this 
            a(href='#') on the documentation
            | .

            a(href='#') on the documentation
        .blank-slate-pf-main-action
            button.btn.btn-primary.btn-lg  Main Action 
        .blank-slate-pf-secondary-action
            button.btn.btn-default  Secondary Action 
            button.btn.btn-default  Secondary Action 
            button.btn.btn-default  Secondary Action 