if messages.errors
  for error in messages.errors
    .alert.alert-danger.alert-dismissable
      button.close(type='button', data-dismiss='alert', aria-hidden='true')
        span.pficon.pficon-close
      span.pficon.pficon-error-circle-o
      | ERROR:
      strong  #{error.msg}
if messages.info
  for info in messages.info
    .alert.alert-success.alert-dismissable
      button.close(type='button', data-dismiss='alert', aria-hidden='true')
        span.pficon.pficon-close
      span.pficon.pficon-ok
      strong  #{info.msg}
if messages.success
  for success in messages.success
    .alert.alert-success
      button.close(type='button', data-dismiss='alert', aria-hidden='true')
        span.pficon.pficon-close
      span.pficon.pficon-ok
      strong  #{success.msg} 