extends ../layout
block title
  title Ticket orders

block navbar
  include baseEvent

block content
  .row.row-cards-pf
    .col-xs-6.col-sm-4.col-md-4
      .card-pf.card-pf-accented.card-pf-aggregate-status
        h2.card-pf-title.text-seccess
          span.fa.fa-shopping-cart
          |  Number of orders
        .card-pf-body
          p.card-pf-aggregate-status-notifications
            span.card-pf-aggregate-status-notification
              | #{numberOfOrders}
    .col-xs-6.col-sm-4.col-md-4
      .card-pf.card-pf-accented.card-pf-aggregate-status
        h2.card-pf-title
          span.fa.fa-ticket.text-success
          |  Tickets sold
        .card-pf-body
          p.card-pf-aggregate-status-notifications
            span.card-pf-aggregate-status-notification
              | #{numberOfTickets}
    .col-xs-6.col-sm-4.col-md-4
      .card-pf.card-pf-accented.card-pf-aggregate-status
        h2.card-pf-title
          span.fa.fa-money
          |  Revenue
        .card-pf-body
          p.card-pf-aggregate-status-notifications
            span.card-pf-aggregate-status-notification
              | KES #{totalOrderSales}

  .row(style='margin-bottom: -20px;')
    .panel.panel-default
      .panel-body
        .dropdown
          button#dropd.btn.btn-primary.dropdown-toggle.pull-left(type='button', data-toggle='dropdown')
            span.fa.fa-file-text
            | &nbsp Export
            span.caret
          ul.dropdown-menu(role='menu', aria-labelledby='dropd')
            li(role='presentation')
              a(role='menuitem', tabindex='-1', href='/admin/event/orders/list/xls') Excel (XLSX)
  //Orders
  .row(style='background: #FFFFFF;')
    .col-xs-12.col-sm-4.col-md-12
      table.datatable.table.table-striped.table-bordered
        thead
          tr
            th Order Ref
            th Name
            th Email
            th Amount
            th No. tickets
            th Payment Complete
            th 
        //- tbody
        //-   each order, index in orders
        //-     tr
        //-       td #{order.orderID}
        //-       td #{order.datePurchased}
        //-       td #{order.name.first} #{order.name.last}
        //-       td #{order.email}
        //-       td #{order.amount}
        //-       td #{order.tickets.length}
        //-       td
        //-         -var modurl = "/admin/event/orders/modal/" + order.orderID
        //-         button.btn.btn-success.btn-modal(type='button',id="btn-details",data-toggle='modal', data-target='#orderModal', data-load-url=modurl, href=modurl, data-backdrop='static') DETAILS


  #orderModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='orderModal', aria-hidden='true')
    .modal-dialog
      .modal-content


  script.
    $(document).ready(function() {

      $('.datatable').dataTable(
        {
          processing: true,
          serverSide: true,
            columns: [
              { data: "orderID" },
              { data: "name.first"},
              { data: "email" },
              { data: "amount",  searchable: "false" },
              { data: "tickets.length", searchable: "false" },
              {
                 sortable: true,
                 data: "orderComplete",
                 "render": function ( data, type, order ) {
                   if(order.orderComplete){
                     return '<span class="label label-success">COMPLETE</span>';
                   } else{
                     return '<span class="label label-danger">INCOMPLETE</span>';
                   }
                     var modurl = "/admin/event/orders/modal/" + order.orderID
                     console.log(modurl)
                     var btn = '<button class="btn btn-success btn-modal" type="button" id="btn-details" data-toggle="modal" data-target="#orderModal", data-load-url=' + modurl + ' href=' + modurl + ' data-backdrop="static"> DETAILS</button>';
                     return btn;
                 }
             },
              {
                 sortable: false,
                 "render": function ( data, type, order ) {
                     var modurl = "/admin/event/orders/modal/" + order.orderID
                     console.log(modurl)
                     var btn = '<button class="btn btn-success btn-modal" type="button" id="btn-details" data-toggle="modal" data-target="#orderModal", data-load-url=' + modurl + ' href=' + modurl + ' data-backdrop="static"> DETAILS</button>';
                     return btn;
                 }
             },
             { data: "eventID", visible: false },
            ],
          ajax: {
            url: '/admin/event/orders/find',
            type: 'POST',
            data: function ( d ) {
              d._csrf = "#{_csrf}";
            }
          }
        }
      );

      $('#orderModal').on('show.bs.modal', function (event) {
        var itm = $(event.relatedTarget);
        var d = itm.data('load-url');
        console.log(d);
        var modal = $(this);
        modal.find('.modal-content').load(d);
      })

    $('#orderModal').on('hidden.bs.modal', '.modal', function () {
      //$(this).removeData('bs.modal');
      });
    });






