doctype html
html
  body
    //- style.
    //-     .tixi-modal-header {
    //-       background: #0088CE;
    //-     }
    .modal-header.text-center.tixi-modal-header
      button.close(type='button', data-dismiss='modal') &times;
      h3.modal-title
        i.ico-cart
        |  Order: 
        b #{order.orderID}
    .modal-body
      h3 Overview
      style.
        .order_overview b {
        text-transform: uppercase;
        }
        .order_overview .col-sm-4 {
        margin-bottom: 10px;
        }
      .p0.well.bgcolor-white
        .row
          .col-sm-6.col-xs-6
            b Name
            br
            |  #{order.name.first}
          .col-sm-6.col-xs-6
            b Email
            br
            |  #{order.email}
          .col-sm-6.col-xs-6
            b Amount
            br
            | KES #{order.amount}
          .col-sm-6.col-xs-6
            b Date
            br
            | #{order.datePurchased}
      h3 Order Items
      .well.nopad.bgcolor-white.p0
        .table-responsive
          table.table.table-hover
            thead
              tr
                th
                th TicketID
                th  Ticket
                th  Price
            each val, index in order.tickets
              tbody
                tr
                  td  #{index + 1}
                  td  #{val.ticketID}
                  td  #{val.ticketType}
                  td  #{val.price}
                  td  
                    -var tickUrl = "/admin/event/orders/print/" + val.ticketID
                    a.btn.btn-primary(href=tickUrl)
                      span.fa.fa-file-text
                      | &nbsp Print
            tr
              td
              td
              td
              td
                b Sub Total (KES)
                  td(colspan='2') #{order.amount}
    .modal-footer
      button.btn.modal-close.btn-danger(data-dismiss='modal', type='button') Close
