doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Tixi - Redefining live events.
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='Redefining live events')
        meta(name='keywords', content='ticketing, tickets, rfid, nairobi, kenya, africa, cashlesss, events, brand amplification')
        meta(name='author', content='tixi')
        meta(property='og:title', content='')
        meta(property='og:image', content='')
        meta(property='og:url', content='')
        meta(property='og:site_name', content='')
        meta(property='og:description', content='')
        meta(name='twitter:title', content='')
        meta(name='twitter:image', content='')
        meta(name='twitter:url', content='')
        meta(name='twitter:card', content='')
        link(rel='stylesheet', href='css/animate.css')
        link(rel='stylesheet', href='css/icomoon.css')
        link(rel='stylesheet', href='css/themify-icons.css')
        link(rel='stylesheet', href='css/bootstrap.css')
        link(rel='stylesheet', href='css/magnific-popup.css')
        link(rel='stylesheet', href='css/owl.carousel.min.css')
        link(rel='stylesheet', href='css/owl.theme.default.min.css')
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        script(src='js/modernizr-2.6.2.min.js')
        script(src='js/jquery.min.js')        
        script(src='js/moment.min.js')


        //if lt IE 9
            script(src='js/respond.min.js')
    body
        .gtco-loader
        #page
            nav.gtco-nav(role='navigation')
                .gtco-container
                    .row
                        .col-sm-4.col-xs-12(style='margin-top: -10px;')
                            #gtco-logo
                                a(href='/')
                                    img.logo(src='images/logo.png', alt='', width='200')

                        .col-xs-8.text-right.menu-1
                            ul
                                li.active
                                    a(href='/events/all') events
                                li
                                    a(href='features.html') features
                                li
                                    a(href='/login') login
                                li
                                    a#btn-login.btn.btn-white.btn-sm.btn-outline.btn-flat(href='/signup') sign up

            header#gtco-header.gtco-cover.gtco-cover-xs(role='banner', style='background-image:url(images/hero_bg.jpg);')
                .overlay
                .gtco-container
                    .row
                        .col-md-8.col-md-offset-2.text-center
                            .display-t
                                .display-tc
                                    h1.animate-box(data-animate-effect='fadeInUp') events
            .gtco-section
                .gtco-container
                    .row.row-pb-md
                        if events == undefined
                            .row.animate-box
                                .col-md-8.col-md-offset-2.text-center.gtco-heading
                                    h3 Oops! Seems like there aren't any events available. Kindly check later.
                        else
                            each event in events
                                .col-md-4.col-sm-12.card
                                    a(href='/events/' + event.eventaliasID)
                                        .event-card
                                            .card-image
                                                - var imgUrl = event.posterPath
                                                img(src='' + imgUrl + '', alt='')
                                                .card-overlay
                                            .card-description
                                                h2(alt='Craig David Live') #{event.eventName}
                                                .card-location
                                                    p
                                                        span.fa.fa-map-marker
                                                        |  &nbsp; #{event.eventLocation}
                                                span.card-date
                                                    span.fa.fa-calendar#evDay
                                                    |  &nbsp; Saturday, 16th September, 2017
                                                hr
                                                .social-icons
                                                    ul
                                                        li
                                                            a(href='http://facebook.com/')
                                                                i.fa.fa-facebook
                                                        li
                                                            a(href='http://linkedin.com/')
                                                                i.fa.fa-twitter
                                                        li
                                                            a(href='http://twitter.com/')
                                                                i.fa.fa-instagram
                                                        li
                                                            a(href='http://plus.google.com/')
                                                                i.fa.fa-google-plus
                        
            #gtco-subscribe
                .gtco-container
                    .row.animate-box
                        .col-md-8.col-md-offset-2.text-center.gtco-heading
                            h2 Sign Up!
                            p Getting started with selling your tickets has never been this easy.
                    .row.animate-box
                        .col-md-12
                            form.form-inline(action='/signup')
                                .col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4
                                    button.btn.btn-default.btn-block(type='submit') GET STARTED
            footer#gtco-footer(role='contentinfo')
                .gtco-container
                    .row.row-p.b-md
                        .col-md-4
                            .gtco-widget
                                h3 About Us
                                p
                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eos molestias quod sint ipsum possimus temporibus officia iste perspiciatis consectetur in fugiat repudiandae cum. Totam cupiditate nostrum ut neque ab?
                        .col-md-4.col-md-push-1
                        .col-md-4
                            .gtco-widget
                                h3 Reach out
                                ul.gtco-quick-contact
                                    li
                                        a(href='#')
                                            i.icon-phone
                                            |  +254710460468
                                    li
                                        a(href='#')
                                            i.icon-mail2
                                            |  help@tixi.co.ke
                        .col-md-12(style='text-align: center; margin-bottom: -80px;')
                            h3 redefining live events

            
        .gototop.js-top
            a.js-gotop(href='#')
                i.icon-arrow-up
        script(src='js/jquery.easing.1.3.js')
        script(src='js/bootstrap.min.js')
        script(src='js/jquery.waypoints.min.js')
        script(src='js/owl.carousel.min.js')
        script(src='js/jquery.countTo.js')
        script(src='js/jquery.magnific-popup.min.js')
        script(src='js/magnific-popup-options.js')
        script(src='js/main.js')
