extends ../layout
block title
    title Tickets

block navbar
    include baseEvent

block content
    .row(style='margin-top: -20px;')
        .panel.panel-default
            .panel-body
                button.btn.btn-primary(data-toggle='modal', data-target='#ticketModal', data-backdrop='static', data-trigger="createModal") Create Ticket

    // Cards of the ticket types
    .row.row-cards-pf(style="padding:0px")
        .container-fluid.container-cards-pf
            .row.row-cards-pf(style="padding:0px")
                each ticket, index in ticketTypes
                    .col-xs-12.col-sm-6.col-md-4.col-lg-4
                        .card-pf.card-pf-view.card-pf-view-select.card-pf-view-single-select
                            .card-pf-body
                                h2.card-pf-title
                                    -var delUrl = "/admin/event/tickets/delete/" + ticket._id;
                                    -var editUrl = "/admin/event/tickets/edit/" + ticket._id;
                                    a(data-toggle='modal', data-target='#ticketModal', data-trigger="editModal", data-name=ticket.name, data-price=ticket.price, data-quantity = ticket.quantity, data-edit = editUrl)
                                        span.fa.fa-pencil.pull-left
                                    a(href=delUrl)
                                        span.fa.fa-trash.pull-right.text-danger
                                .card-pf-top-element
                                    span.fa.fa-ticket.card-pf-icon-circle
                                h2.card-pf-title.text-center
                                    | #{ticket.name}
                                .card-pf-items.text-center
                                    .card-pf-item
                                        strong #{ticket.quantity}
                                        span.card-pf-item-text  tickets remaining
                                p.card-pf-info.text-center
                                    strong KES #{ticket.price}
                                h1.card-pf-title    
                                    if ticket.haltSales == false
                                        a(href="/admin/event/tickets/pause/" + ticket._id)
                                            span.fa.fa-pause.pull-left.text-warning(style="font-size: 1.2em;")
                                        span.label.label-success.pull-right On Sale
                                    else
                                        a(href="/admin/event/tickets/resume/" + ticket._id)
                                            span.fa.fa-play.fa-4x.pull-left.text-success(style="font-size: 1.2em;")
                                        span.label.label-danger.pull-right Sold Out
                                span &nbsp


    #ticketModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ticketModal', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true')
                        span.pficon.pficon-close
                    h4#ticketModal.modal-title.text-center Ticket
                .modal-body
                    form#ticketForm.form--login(method='post', action='/admin/event/tickets/create')
                        input(type='hidden', name='_csrf', value=_csrf)
                        .form-group
                            .col-sm-12
                                label.control-label(for='ticket-name') Name:
                                input#ticket-name.form-control(type='text', name='ticketName')
                        .form-group
                            .col-sm-6
                                label.control-label(for='ticket-price') Price:
                                input#ticket-price.form-control(type='number', name='price')
                            .col-sm-6
                                label.control-label(for='ticket-quantity') Quantity:
                                input#ticket-quantity.form-control(type='number', name='quantity')
                        .form-group
                            .col-sm-12(style="padding-top: 20px")
                                button.btn.btn-primary.pull-right(type='submit') Save
                .modal-footer
                    
    script(type='text/javascript').

        $('#ticketModal').on('show.bs.modal', function (event) {
        var itm = $(event.relatedTarget)
        var t = itm.data('trigger')
        var title = null; var name = null; var price = null; var quantity = null;
        if(t === "editModal"){
            title = "EDIT TICKET";
            name = itm.data('name');
            price = itm.data('price');
            quantity = itm.data('quantity');
            editaction = itm.data('edit')
            $('#ticketForm').attr('action', editaction);
            } 
            else{
            title = "CREATE TICKET";
        }
        var modal = $(this)
        modal.find('.modal-title').text(title);
        modal.find('#ticket-name').val(name)
        modal.find('#ticket-price').val(price)
        modal.find('#ticket-quantity').val(quantity)
        })
